@media all and (min-width:992px)
{
	.mobile-menu{
		display:none !important;
	}
	.mobile{
		display:none !important;
	}
}

@media all and (max-width:992px)
{
	.section-title{
		font-size:2em;
		line-height: 1.3em;
		font-weight:700;
	}
	
	.overly-image{
		& img{
			padding:0 2em;
		}
	}
	
	.desktop{
		display:none !important;
	}
	
	#Header{
		.navbar-toggler{
			display:inline-block !important;
			&+div{
				display:none !important;
			}
		}
		.logo{
			& > a{
				& > img{
					margin-top: -10px;
					max-width:200px;
					&.logo-mobile{
						display:block !important;
						&+img{
							display:none;
						}
					}
				}
			}
		}
		& > .header-sticky,
		& > .header-sticky-white{
			&.fixed{
				padding: 10px 15px;
			}
		}
	}
	
	#Home{
		min-height: 900px;
		background-size:cover;
		background-position:65%;
		
		& > .container{
			#Donna{
				min-height: 880px;
				
				-ms-align-items: flex-start !important;
				align-items: flex-start !important;
				text-align:center;
				
				& > .donna-intro{
					flex: 0 0 100%;
					margin-top:115px;
	
					& > h2,
					& > h4{
						color:#fff;
						text-shadow:none;
					}
					& > h4{
						font-size:1.7em;
					}
				}
				
				& > .mobile-button{
					-ms-flex-item-align: end!important;
    				align-self: flex-end!important;
					
					.btn{
						width:100%;
						max-width:100%;
					}
				}
				
			}
		}
	}
	
	
	#CaseStudies{
		background-image: url(../images/Home/happy-bkg.jpg);
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: 100%;
		
		padding:0 !important;
		
		& > .row{
			margin-right: 0;
    		margin-left: 0;
			
			& > .col-md-6{
				flex: 0 0 90%;
				max-width: 90%;
				margin:0 !important;
								
				&.has-hilight{
					& > .hilight{
						text-align:center !important;
						padding:32px 15px !important;
						margin:0 !important;
						
						@include box-shadow(0,0,0,0,rgba(0,0,0,0) !important);
						
						-webkit-border-radius:0 !important;
						-moz-border-radius:0 !important;
						-ms-border-radius:0 !important;
						border-radius:0 !important;
						
						h3{
							color:#fff;
							font-weight:400;
							font-size: 1.8em;
						}
						
						& > img.rounded-circle{
							max-width:100px;
							margin-bottom:32px;
						}
						
						& > .blockquote{
							border-top: 1px solid rgba(255, 255, 255, 0.2);
							margin-top: 24px;
							padding-top: 24px;
							
							& > p{
								font-size:0.8em;
							}
						}
						
						&.hilight-light{
							background-color:#f9f9f9;
						}
						
						&.hilight-grey,
						&.hilight-light{
							color: $grey;
							
							& > .blockquote{
								border-top: 1px solid rgba(0, 0, 0, 0.2);
							}
							h3{
								color: $grey;
							}
						}
					}
				}
			}
		}
	
		& > #Benefits{
			margin-top:32px;
			
			.section-title{
				margin-bottom:0 !important;
			}
			
			.benefit-icon{
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				background-color:transparent;
				
				min-height:inherit;
				
				& > h4{
					font-size: 1.3em;
    				line-height: 1.1em;
				}
			}
		}
	}
	
	
	
	#OurOffer{
		padding-right: 0;
		padding-left: 0;
		
		& > .container{
			@include box-shadow(0,0,0,0,rgba(0,0,0,0));
			width: 100%;
    		max-width: 100%;
			
			& > #OurOfferList{
				padding-left: 0 !important;
				padding-right: 0 !important;
				
				.section-title,
				.subtitle{
					text-align:center !important;
					width:100%;
				}
				
				.section-title{
					font-size: 2.2em;
					font-weight:700;
				}
				
				.subtitle{
					font-size: 1.4em;
					font-weight:500;
				}
				
				ul.list-unstyled {
					width: 100%;
					max-width: 500px;
					margin: 0 auto 32px auto;
					padding:0;
					
					& > li{
						font-size: 1.1em;
						font-weight:400;
						
						&:before{
							line-height: 0.8em;
						}
						
						&+li{
							margin-top:32px;
						}
					}
				}
				
				.align-items-center.pl-5,
				.align-items-center.pr-5{
					padding-left: 1em !important;
					padding-right: 1em !important;
				}
				
			}
			
			.col-banner{
				-webkit-border-radius:0;
				-moz-border-radius:0;
				-ms-border-radius:0;
				-o-border-radius:0;
				border-radius:0;
				
				text-align:center;
				
				& h3{
					font-size: 1.5em;
    				line-height: 1.1em;
					margin-bottom: 5px;
				}
				& h4{
					font-size: 2.5em;
					line-height: 1.1em;
					margin-bottom: 32px;
				}
				& .btn{
					background-color:$orange;
					color:#fff;
					
					&:hover{
						background-color:$orange-hover;
					}
				}
			}
			
			.row.mt-5{
				margin-top: 0 !important;
			}
		}
	}
	
	#FAQ {
    	padding-top: 0;
		
		& > .container{
			max-width:100%;
			
			.card-header{
				.btn-link{
					font-weight:500;
				}
				
				[data-toggle="collapse"]{
					&.collapsed:after,
					&:after{
						
					}
				}
			}
		}
	}

	.carecru-pagination{
		text-align: center;
		justify-content: center;
		
	}
	
}

@media all and (min-width:768px)
{
	#HappyCustomers{
		.image-container{
			    height: 100px;
			position:relative;
			
			& + .image-container{
				border-left:1px solid #ccc;
			}
			
			& > .overly-image {
				top: 50%;
				-webkit-transform:translateY(-50%);
				transform:translateY(-50%);
			}
		}
	}
}

@media all and (max-width:768px){
	#Header{
		& > #MainMenu{

			padding: 0 15px;
			padding-top: 5px;
			margin: 0 auto;
				
			.logo{
				& > a{
					& > img{
						max-width:150px;
						margin-top: 8px;
					}
				}
			}
		}
		
		& > .header-sticky,
		& > .header-sticky-white{
			
			& > .container{
				border-bottom:1px solid rgba(255,255,255,0.5);
				padding-bottom: 10px;
			}
			
		}
	}
	
	
	#Home{
		min-height: inherit;
		margin-bottom:100px;
		
		& > .container{
			#Donna{
				min-height: 600px;
				
				& > .donna-intro{
					margin-top:70px;
					
					& > h2{
						font-size: 3em;
					}
					& > h4{
						font-size:1.4em;
					}
				}
				
				& > .mobile-button{
					margin-bottom: -42px;
				}
				
			}
		}
	}
	
	
	#TeamMembers{
		& > .container{
			.card-link{
				&:hover,
				&:focus{
					transform: scale(1);
				}
			}
		}
	}
	
	#HappyCustomers{
		padding-top:0 !important;
		h3.section-title{
			padding-bottom:0 !important;
		}
		
		.image-container{
			
			& + .image-container{
				margin-top:64px;
			}
		}
	}
	

	#CaseStudies{
		& > .row{
			& > .col-md-6{
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
	
	#Capabilities{
		text-align: center;
		
		.section-title{
			font-weight:400;
			text-align: center;
		}
		
		p{
			text-align: center;
		}
		
		& > .container{
			& > .row{
				& > .section-title{
					font-weight:700;
				}
				
				& > .col-md-6{
					
					&+.col-md-6{
						margin-top:32px;
					}
					
					&.order-1,
					&.order-2,
					&.order-3,
					&.order-4,
					&.order-5,
					&.order-6,
					&.order-7,
					&.order-8,
					&.order-9,
					&.order-10,
					&.order-11,
					&.order-12{
						order: initial !important;
					}
					
				}
			}
		}
	}
}

@media screen and (max-width: 575px) {
	.carecru-pagination .page-link {
		font-size: .7rem;
		padding: .3rem .45rem;
	}
}