@import 'carecru';

@mixin box-pack($set){
	-webkit-box-pack: $set;
		-ms-flex-pack: $set;
			justify-content: $set;
	-webkit-box-align: $set;
		-ms-flex-align: $set;
			align-items: $set;
}

.popup-wrapper {
    top:0;
	left:0;
	bottom:0;
	right:0;
    position: fixed;
    z-index: 99999;
    
    width: 100vw;
    height: 100vh;
	max-height: 100vh;
	
    background-color: rgba(0,0,0,.75);
    
	
	@media screen and (max-width:768px)
	{
		overflow-y:auto;
		// padding-bottom: 170px;
	}
	
    .popup-container {
        
        width: 100%;
        height: 100vh;
        
        display: -webkit-box;
        
        display: -ms-flexbox;
        
        display: flex;
		@include box-pack(center);
		
		@media screen and (max-width:768px)
		{
			display: block;
		}
        
        .popup {
            position:relative;
            background: white;
            
            width: 500px;
			
			& > #PopupGetPriceClose{
				position:absolute;
				background: transparent;
				border: none;
				float: right;
				font-size: 1.5em;
				color:#fff;
				opacity:0.8;
				z-index: 1;
    			right: 0;
				top: 8px;
		
				&:hover{
					opacity:1;
				}
			}
            
            @media screen and (max-width: 768px) {
                width: 90%;
				margin: 5px auto;
            }
            
            .popup-header {
                
                border-top-right-radius: 1rem;
                border-top-left-radius: 1rem;
                
                position: relative;
                padding: 50px 30px;
                background-color: $dark-blue;
                
                @media screen and (max-width: 991px) {
                    position: initial;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: reverse;
                        -ms-flex-direction: column-reverse;
                            flex-direction: column-reverse;
                    text-align: center;
                }
                
                h2 {
                    font-weight: 400; 
                    font-size: 2em;
                    color: white;
                    margin: 0;
                }
                
                p {
                    font-weight: 400;
                    font-size: 0.9em;
                    color: white;
                }
                
                .popup-header-image {
                    
                    position: absolute;
                    z-index: 9999;
                    left: -115px;
                    margin: 0px;
                    
                    @media screen and (max-width: 991px) {
                        position: initial;
                        margin-bottom: 20px;
                    }
                    
                    @media screen and (max-width: 767px) {
                        text-align: center;
                    }
                    
                    img {
                        width: 300px;
                        
                        @media screen and (max-width: 767px) {
                            width: 200px;
                        }
                        
                    }
                    
                }
                
            }
            
            .popup-form {
                
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                
                background: white;
                padding: 30px;
                
                .row {
                    margin-bottom: 20px;
                    
                    @media screen and (max-width: 991px) {
                        margin-bottom: 0px;
                    }
                }
                
                input {
                    
                    width: 100%;
                    height: 40px;
                    background: #f4f8fb;
                    border-radius: .25rem;
                    border: 1px solid #dce0e3;
                    padding-left: 20px;
                    color: #555;
                    font-size: 0.9em;
                    
                    @media screen and (max-width: 991px) {
                        margin-bottom: 20px;
                    }
                    
                }
                
                label {
                    
                    font-size: 0.75em;
                    margin: 0;
                    
                    span {
                        
                        color: red;
                        
                    }
                    
                }
                
                button, input[type^="submit"] {
                    width: 100%;
                    height: 40px;
                    border: 0;
                    background: #ff715b;
                    border-radius: .25rem;
                    color: white;
                    font-size: 0.9em;
                    text-transform: uppercase;
                    
                }
                
            }
                        
        }
        
    }
    
}

.popup-wrapper .popup-container .popup.popup-step-2{
    .popup-form{
        button, input[type^="submit"] {
            width: auto !important;
            padding: 5px 60px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}