@mixin box-shadow($h,$v,$blur,$spread,$color) {
	-webkit-box-shadow: $h $v $blur $spread $color;
	-moz-box-shadow: $h $v $blur $spread $color;
	-ms-box-shadow: $h $v $blur $spread $color;
	-o-box-shadow: $h $v $blur $spread $color;
	box-shadow: $h $v $blur $spread $color;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@font-face {
	font-family: 'Gotham-Bold';
	src: url('../fonts/Gotham-Bold.woff') format('woff'),
		 url("../fonts/Gotham-Bold.otf") format("opentype");
	font-weight:700;
}
@font-face {
	font-family: 'Gotham-Book';
	src: url('../fonts/Gotham-Book.woff') format('woff'),
		 url("../fonts/Gotham-Book.otf") format("opentype");
}
@font-face {
	font-family: 'Gotham-BookItalic';
	src: url('../fonts/Gotham-BookItalic.woff') format('woff'),
		 url("../fonts/Gotham-BookItalic.otf") format("opentype");
	font-style:italic;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Medium.woff') format('woff'),
		 url("../fonts/Gotham-Medium.otf") format("opentype");
	font-weight:400;
}
@font-face {
	font-family: 'Gotham-Light';
	src: url('../fonts/Gotham-Light.woff') format('woff'),
		 url("../fonts/Gotham-Light.otf") format("opentype");
	font-weight:300;
}

$main-font: 'Roboto', sans-serif;

$gotham-light:'Gotham-Light', Arial, Helvetica, sans-serif;
$gotham-book:'Gotham-Book', Arial, Helvetica, sans-serif;
$gotham-bold:'Gotham-Bold', Arial, Helvetica, sans-serif;

$second-font: 'Gotham', Arial, Helvetica, sans-serif;
$main-font-weight: 300;
$main-font-size: 1em;

$main-header-font-weight: 900;
$standard-header-font-weight: 600;
$thin-header-font-weight: 100;
$normal-weight: 300;

$dark-blue: #184B5A;
$orange: #ff715a;
$orange-hover: #f9482b;
$grey: #6e6e6e;
$light-grey: #CDCDCD;