@import 'carecru';

body{
    &.about-page{
        background-image: url(../images/happy-2-bkg.jpg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 100%;

        @media screen and (max-width:768px){
            background-size: cover;
        }
    }
}

.about-header {
    
    position: relative;
    
    height: 70vh;
    background-image: url('../images/About/Header-Image.jpg');
    background-size: cover;
    background-position: center;
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
	
	@media screen and (max-width:992px)
	{
		height: 60vh;
	}
	
	@media screen and (max-width:768px)
	{
		height: 50vh;
	}
    
    .header-overlay {
        
        position: absolute;
        width: 100%;
        height: 70vh;
        top: 0;
        left: 0;
        background-color: #184b5a; opacity: 0.9;
		
		@media screen and (max-width:992px)
		{
			height: 60vh;
		}
		
		@media screen and (max-width:768px)
		{
			height: 50vh;
		}
        
    }
    
    h1 {
        
        font-size: 4em;
        font-weight: 600;
        color: white;
        
        @media screen and (max-width: 767px) {
            font-size: 2em;
        }
        
    }
    
    p {
        
        font-size: 1.3em;
        color: white;
        
    }
    
}

.about-info {
    
    .about-info-container {
        
        position: relative;
        background: white;
        border-radius: 10px;
        padding: 60px;
        margin-top: -10%;
        box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.13);
        
        @media screen and (max-width: 767px) {
            padding: 20px;
			margin-top: -20%;
        }
        
         h2 {

            color: $dark-blue;
            font-size: 2.5em;
            font-weight: 300;
            
            @media screen and (max-width: 767px) {
                text-align: center;
                font-size: 1.5em;
            }

                span {
                    font-weight: 700;
                }

            }

        p {
            
            font-size: 1.1em;
            font-weight: 300;
            color: #6e6e6e;
            
            @media screen and (max-width: 767px) {
                text-align: center;
                font-size: 0.9em;
            }
            
        }
        
    }
    
}

.team {
        
    .team-wrapper{
        margin-bottom: 32px;
        margin-top: 32px;
    }

    .team-title {
        
        display: flex;
        justify-content: center;
        
        h2 {
            
            color: $dark-blue;
            text-align: center;
            font-size: 2.5em;
            font-weight: 400;
            
            margin-top: 40px;
            margin-bottom: 70px;
            
            @media screen and (max-width: 997px) {
                margin-bottom: 32px;
                margin-top: 32px;
            }

            @media screen and (max-width: 767px) {
                font-size: 1.5em;
            }
            
        }
        
    }
    
    .team-member {
        
        text-align: center;
        
        .team-member-image {
            
            border-radius: 100%;
            background: grey;
            width: 185px;
            height: 185px;
            
            @media screen and (max-width: 1200px) {
                width: 150px;
                height: 150px;
            }
            
            @media screen and (max-width: 991px) {
                margin: 20px auto;
            }
            
            img {
                object-fit: cover;
                object-position: center;
            }
            
        }
        
        h2 {
            
            font-size: 1.3em;
            color: #6e6e6e;
            margin: 0px;
            
        }
        
        span {
            
            color: #b1b1b1;
            font-size: 13px;
            font-style: italic;
            
        }
        
        p {
            
            font-size: 0.9em;
            line-height: 1.5em;
            margin-top: 20px;
            
        }
        
    }
    
}