@import "carecru";

/*
* Contact Page
*/

body{
    &.contact-page{
        background-image: url(../images/happy-3-bkg.jpg);
        background-position: left top;
        background-repeat: no-repeat;
        background-size: 100%;

        @media screen and (max-width:768px){
            background-size: cover;
            background-position: left center;
        }
    }
}

.contact-page-header {
    
    padding: 150px 15px;
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(31,99,118,.75)), to(rgba(31,99,118,.75)) ), url('../images/Contact/Header-Image.jpg');
    background: -webkit-linear-gradient( rgba(31,99,118,.75), rgba(31,99,118,.75) ), url('../images/Contact/Header-Image.jpg');
    background: -o-linear-gradient( rgba(31,99,118,.75), rgba(31,99,118,.75) ), url('../images/Contact/Header-Image.jpg');
    background: linear-gradient( rgba(31,99,118,.75), rgba(31,99,118,.75) ), url('../images/Contact/Header-Image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
    h2 {
        font-weight: 400 !important;
        text-align: center;
        font-size: 38px;
        color: white;

        @media screen and (max-width: 767px) {
            font-size: 32px;
        }
        
    }

    @media screen and (max-width: 767px) {
        padding: 80px 15px;
    }

}

.contact-form-wrapper {
    
    padding-top: 20px;
    padding-bottom: 30px;
    
    position: relative;
    bottom: 70px;
    
    .contact-map{
        margin-bottom: 32px;
        margin-top: 32px;

        & .col-12{
            border-radius: 1rem;
            @include box-shadow(0,0px,10px,0,#cdcdcd);
            padding-left: 0;
            padding-right: 0;
            overflow: hidden;
            height: 398px;


            & iframe{
                display: block;
                width: 100%;
                border-radius: 1rem;
            }
        }


    }

    .contact-form{

        background: white;
        
        padding: 30px;
        border-radius: 1rem;

        @include box-shadow(0,0px,10px,0,#cdcdcd);
        
        @media screen and (min-width: 996px) {
            flex: 0 0 55%;
            max-width: 55%;
            margin-right: 20px;
        }

        .form-title {
            font-weight: 400 !important;
            font-size: 28px;
            margin-bottom: 50px;
            color: $dark-blue;
            
            @media screen and (max-width: 767px) {
                font-size: 22px;
            }
            
        }

        input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
            color: #cdcdcd;
        }

        input:-ms-input-placeholder, textarea:-ms-input-placeholder {
            color: #cdcdcd;
        }

        input::-ms-input-placeholder, textarea::-ms-input-placeholder {
            color: #cdcdcd;
        }

        input::placeholder, textarea::placeholder {
            color: #cdcdcd;
        }
        
        input {
            width: 100%;
            padding: 25px 0px;
            padding-left: 30px;
            font-size: 18px;
            font-weight: 400 !important;
            border-radius: .25rem;
            border: 1px solid #cdcdcd;
            color: #555;
            outline: none;
            
            @media screen and (max-width: 767px) {
                padding: 15px;
                font-size: 14px;
            }
            
            @media screen and (max-width: 475px) {
                padding: 10px;
                font-size: 12px;
            }
            
        }

        textarea {
            width: 100%;
            height: 250px;
            font-size: 18px;
            font-weight: 400 !important;
            padding-top: 25px;
            padding-left: 30px;
            border-radius: .25rem;
            border: 1px solid #cdcdcd;
            color: #555;
            outline: none;
            
            @media screen and (max-width: 767px) {
                padding: 15px;
                font-size: 14px;
            }
            
            @media screen and (max-width: 475px) {
                padding: 10px;
                font-size: 12px;
            }
        }

        input[type=submit] {
            color: white;
            width: 100%;
            height: 70px;
            font-size: 22px;
            background-color: $dark-blue;
            border-radius: .25rem;
            border-style: none;
            text-transform: uppercase;
            padding: 0px;
            
            @media screen and (max-width: 991px) {
                height: 50px;
                font-size: 18px;
                margin: 0 auto;
            }
            
            @media screen and (max-width: 475px) {
                width: 100%;
                height: 40px;
                font-size: 16px;
            }
            
        }

    }

    .contact-info-wrapper {
        
        position: relative;
        top: 70px;
        
        @media screen and (max-width: 991px) {
            padding: 0px;
        }

        @media screen and (max-width: 768px) {
            top: 32px;
        }
        
        .container {
            @media screen and (max-width: 991px) {
                padding: 0px;
            }
        }
        
        .contact-info {

            p {
                color: #cdcdcd;
                font-size: 15px;
                font-weight: 400 !important;
                margin: 0px;
                text-transform: uppercase;
                
                @media screen and (max-width: 997px) {
                    text-align: center;
                }
                
            }

            h2 {
                font-weight: 400 !important;
                font-size: 22px;
                color: #555;
                
                @media screen and (max-width: 997px) {
                    text-align: center;
                    margin-bottom: 20px;
                }
                
            }
        }
    }

    .contact-subscribe {
        
        margin-bottom: 70px;
        background: #ffffff;
        @include box-shadow(0,0px,10px,0,#cdcdcd);
        border-radius: 1rem;
        padding: 45px;
        width: 100%;
        
        @media screen and (max-width: 991px) {
            margin: 0px;
        }
        
        @media screen and (max-width: 475px) {
            padding: 10px;
        }
        
        h2 {
            font-weight: 400 !important;
            font-size: 22px;
            color: $dark-blue;
            margin: 0px;
        }
        
        h3 {
            font-weight: 400 !important;
            font-size: 16px;
            color: #999;
            margin-bottom: 30px;
        }
        
        input::-webkit-input-placeholder {
            color: #ccc;         
        }
        
        input:-ms-input-placeholder {
            color: #ccc;         
        }
        
        input::-ms-input-placeholder {
            color: #ccc;         
        }
        
        input::placeholder {
            color: #ccc;         
        }
        
        input {
            width: 100%;
            height: 60px;
            padding: 25px 0px;
            padding-left: 25px;   
            font-size: 14px;
            border-radius: .25rem;
            border: 1px solid #cdcdcd;
            color: #555;
            outline: none;
        }
        
        button {
            height: 60px;
            width: 90px;
            background-color: $dark-blue;
            color: white;
            border-style: none;
            border-radius: .25rem;
        }
        
    }
}