@import "carecru";

/*
* Home Page
*/

.section-title{
	font-size:2.5em;
	font-weight:700;
	color:$dark-blue;
}

.overly-image{
	position: relative;
	margin:0 auto;
	
	& img{
		padding:0 3em;
	}
	
	& > .overly-image-hover{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
	}
	
	&:hover{
		
		& > img{
			opacity:0;
		}
		
		& .overly-image-hover{
			opacity: 1;
		}
	}
}

#Home{
	background:url(../images/Home/Header-BG.jpg) no-repeat right top;
	background-size: 60%;
	min-height: 840px;
	
	@media all and (max-width:1600px){
		min-height: 710px;
	}
	@media all and (max-width:1280px){
		min-height: 586px;
	}
	@media all and (max-width:2000px){
		min-height: 565px;
	}
	
	& > .container{
		#Donna{
			min-height: 840px;
			
			@media all and (max-width:1600px){
				min-height: 710px;
			}
			
			@media all and (max-width:1280px){
				min-height: 586px;
			}
			

			
			& > .donna-intro{
				
				& > h2{
					color:$dark-blue;
					font-weight:700;
					font-size: 72px;
					margin:0;
					padding:0;
					line-height: normal;
					text-shadow: -1px 0 3px white, 0 1px 3px white, 1px 0 3px white, 0 -1px 3px white;

					@media screen and (max-width:1200px)
					{
						font-size: 64px;
					}
				}
				& > h4{
					color:$dark-blue;
					font-size: 21px;
					font-weight:300;
					margin:0;
					padding:0;
					line-height: normal;
					text-shadow: -1px 0 3px white, 0 1px 3px white, 1px 0 3px white, 0 -1px 3px white;
					@media screen and (max-width:1200px)
					{
						font-size: 18px;
					}
				}
			}
		}
	}
}
/* Team members */
#TeamMembers{
	& > .container{
		
		.card-link{
			color: $grey;
			cursor:default;
			transform: scale(1);
			
			transition: all .25s ease-in-out;
		   -moz-transition: all .25s ease-in-out;
		   -webkit-transition: all .25s ease-in-out;
			
			@include box-shadow(0,0,41px,4px,rgba(0,0,0,0.13));
			
			padding-top:32px;
			padding-bottom:32px;
				
			& > .overly-image{
				position: relative;
  				max-width:200px;
				margin:0 auto;
				
				
				& > .overly-image-hover{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					height: 100%;
					width: 100%;
					opacity: 0;
				}
			}
			
			& > .card-body{
				& > .card-title{
					color:$dark-blue;
					font-size:1.8em;
				}
				
				& > .card-text{
					padding-left:10%;
					padding-right:10%;
					font-size:1.3em;
				}
				
				& > .card-button{
					margin-top:32px;
					& > .btn{
						color:#fff;
						background-color:#eee;
						padding-left:2em;
						padding-right:2em;
						-webkit-border-radius:50px;
						border-radius:50px;
					}
				}
			}
			
			&:hover{
				color:$dark-blue;
				transform: scale(1.2);
				z-index:1;
				& > .overly-image{
					& > img{
						opacity:0;
					}
				}
				
				& > .card-body{
					& > .card-button{
						margin-top:32px;
						& > .btn{
							background-color:$dark-blue;
						}
					}
				}
			}
			&:hover .overly-image-hover{
				opacity: 1;
			}
		}
		
	}
}

#CaseStudies{
	background-image: url(../images/Home/rocket.png), url(../images/happy-bkg.jpg);
	background-position: 75% 80%, left top;
    background-repeat: no-repeat, no-repeat;
    background-size: 450px, 100%;
	
	& > .row{
		& > .col-md-6{
			padding-right: 0;
    		padding-left: 0;
			margin-bottom: 3rem;
			margin-top: 3rem;
			
			
			& > p,
			& > h3{
				margin-left:10%;
				margin-right:10%;
				font-weight:300;
			}
			
			& > p{
				font-size:1.2em;
			}
			
			& > h3{
				font-size: 2em;
			}
			
			&.has-hilight{
				& > .hilight{
					@include box-shadow(0,0,41px,4px,rgba(0,0,0,0.13));
					background-color:$dark-blue;
					color:#fff;
					text-align:right;
					padding:64px 64px 64px 25%;
					margin-right:8%;
					
					-webkit-border-top-right-radius: 70px;
					-webkit-border-bottom-right-radius: 5px;
					-moz-border-radius-topright: 70px;
					-moz-border-radius-bottomright: 5px;
					border-top-right-radius: 70px;
					border-bottom-right-radius: 5px;
					
					& > img.rounded-circle{
						max-width:100px;
						margin-bottom:32px;
					}
					
					& > .blockquote{
						& > p{
							font-size:1.1em;
							font-weight:300;
							font-style:italic;
						}
						
						& > .blockquote-footer{
							font-size:0.8em;
							
							& strong{
								font-weight:700;
							}
							
							& > cite{
								font-style:normal;
							}
						}
					}
					
					&.hilight-light{
						background-color:#efefef;
						color: $grey;
						text-align:left;
						padding:64px 25% 64px 64px;
						margin-left:8%;
						margin-right:0;
						
						-webkit-border-top-right-radius: 0;
						-webkit-border-bottom-right-radius: 0;
						-moz-border-radius-topright: 0;
						-moz-border-radius-bottomright: 0;
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
						
						-webkit-border-top-left-radius: 70px;
						-webkit-border-bottom-left-radius: 5px;
						-moz-border-radius-topleft: 70px;
						-moz-border-radius-bottomleft: 5px;
						border-top-left-radius: 70px;
						border-bottom-left-radius: 5px;
					}
					
					&.hilight-grey{
						background:#cdcdcd;
						color: $grey;
						
					}
				}
			}			
		}
	}
	
	& > #Benefits{
		margin-top:128px;
		
		.benefit-icon{
			@include box-shadow(0,0,10px,4px,rgba(0,0,0,0.13));
			
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			border-radius:5px;
			
			background-color:#fff;
			
			padding-top:20px;
			padding-bottom:20px;
			margin-top:5px;
			min-height: 150px;
			
			height:100%;
		
			
			display:block;
			min-height: 245px;
			
			align-items: center !important;
			justify-content: center !important;
			
			& > .img-icon{
				max-width:80px;
			}
			& > h4{
				font-size: 1.4em;
				margin:23px;
				color:$dark-blue;
				font-weight:400;
			}
		}
	}
}

#Capabilities{
	
	background-image: url(../images/happy-bkg.jpg);
	background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100%;
	
	padding-top:64px;
	padding-bottom:64px;
	p{
		font-size: 1.3em;
		font-weight:$normal-weight;
		font-weight:300;
	}
	
	.section-title{
		font-size: 2.2em;
		margin-bottom:32px;
		font-weight:300;
	}
	
	.blockquote{
		font-style:italic;
		p{font-size:1em;}
	}
}

#OurOffer{
	
	& > .container{
		
		padding-top:64px;
				
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		
		@include box-shadow(0,0,41px,4px,rgba(0,0,0,0.13));
		
		background-color:#fff;
		
		.subtitle{
			font-weight:1.25em;
		}
		
		.section-title{
			font-weight:38px;
		}
		
		ul.list-unstyled{
			list-style:none;
			font-size: 1.3 em;
			& > li:before {
				content:'\2714';
				display:inline-block;
				vertical-align: middle;
				line-height: 1em;
				width: 1em;
				height:1em;
				margin-right: 0.8em;
				text-align: center;
				color: #ff715a;
			}
		}
		
		.col-banner{
			background-color:$dark-blue;
			
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			border-radius:5px;
			
			color:#fff;
			padding:42px 64px;
			
			& h3,
			& h4{
				margin:0;
				padding:0;
			}
			
			& h3{
				font-size:36px;
			}
			& h4{
				font-size:24px;
			}
			
			& .btn{
				background-color:#fff;
				font-weight:700;
				text-transform:uppercase;
				padding: 0.8rem 2.5rem;
				
				&:hover{
					background-color:$orange;
					color:#fff;
				}
			}
		}
	}
}