@import "carecru";

.no-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.clear-gap {
    margin: 0px !important;
    padding: 0px !important;
    outline: none !important;
    border: none !important;
}

.v-line {
            
    margin: 0px;
    background-color: #ff715a;
    width: 3px;
    height: 100%;
    
    @media screen and(max-width: 991px) {
        display: none;
    }

}

.brand-wrapper {
    
    @media screen and(max-width: 991px) {
        
        display: none !important;
        text-align: center;

    }
    
}

.brand-number {
            
    margin: 0px;
    margin-top: -10px;
    color: #ff715a;
    font-size: 28px;
    font-weight: 400;

    @media screen and(max-width: 991px) {
        
        text-decoration: underline;
        font-size: 32px;

    }

}

.press_kit_header {
    
    background-image: linear-gradient(rgba(32,100,119,.85), rgba(32,100,119,.85)) ,url('../images/Press Kit/header-bg.png');
    background-position: center;
    background-size: cover;
    
    &__container {
        
        h1 {
            font-weight: 400;
            font-size: 32px;
            text-align: center;
            color: white;
            padding: 15vh 0;

            @media screen and (max-width:767px)
            {
                padding: 10vh 0;
            }
        }
        
    }
    
}

.brand-personality {
    
    margin: 50px 0px;
    @media screen and (max-width: 992px) {   
        text-align: center;
    }
    
    h2 {
        color: #206477;
        font-size: 28px;
        font-weight: 700;
        margin: 0px;
        
        @media screen and (max-width: 767px) {      
            font-size: 32px;
            margin: 15px;
        }
        
        @media screen and (max-width: 475px) {   
            text-align: center;
        }
        
    }
    
    p {
        color: #6e6e6e;
        font-size: 16px;
        margin: 0px 0px 20px 0px;
        font-weight: 400;
        
        @media screen and (max-width: 767px) {     
            font-size: 14px;
        }
        
        @media screen and (max-width: 475px) {          
            text-align: center;
        }
        
    }
    
    span {
        color: #6e6e6e;
        font-size: 20px;
        margin: 0px;
        font-weight: 400;
        
        @media screen and (max-width: 767px) { 
            font-size: 16px;
        }
        
        @media screen and (max-width: 475px) {    
            text-align: center;
            display: flex;
        }
        
    }
    
}

.brand-resources {
    
    .brand-resources-header {
        text-align: left;
        @media screen and (max-width: 992px) {   
            text-align: center;
        }
        
        h2 {
            color: #206477;
            font-size: 28px;
            font-weight: 700;
            margin: 0px;
            margin-bottom: 25px;

            @media screen and (max-width: 767px) {      
                font-size: 32px;
                margin: 15px;
            }

            @media screen and (max-width: 475px) {   
                text-align: center;
            }

        }
        
    }
    
    .brand-resources-logo {
        
        margin: 50px 0px;

        @media screen and(max-width: 991px) {
        
            margin: 0;
    
        }
        
        .brand-logo-title {
            
            h2 {
                
                margin-top: -10px;
                font-size: 1.7rem;
                font-weight: 400;
                margin-bottom: 50px;
                text-transform: uppercase;
                color: #6e6e6e;
                
                @media screen and(max-width: 991px) {
        
                    text-align: center;
                    margin: 20px 0px;

                }
                
                @media screen and (max-width: 767px) {      
                    
                    font-size: 1.4rem;
                    font-weight: 700;
                }
                
            }
            
        }
        
        .brand-logo-items {
            
            figure {
                
                margin: 0px;
                
                @media screen and(max-width: 992px) {
        
                    margin: 15px 0px;

                }
                
                img {
                    @include box-shadow(0,0,7px,0,#6e6e6e);
                    border-radius: .5rem;
                    width: 100%;

                    @media screen and (max-width: 992px) {      
                        border-radius: 0;
                        @include box-shadow(0,0,41px,0,rgba(0,0,0,0.2));
                    }
                    
                }
                
            }
            
        }
        
    }
    
    .brand-resources-palette {
        
        margin: 50px 0px;
        
        .brand-palette-title {
            
            h2 {
                
                margin-top: -10px;
                font-size: 1.7rem;
                font-weight: 400;
                margin-bottom: 50px;
                text-transform: uppercase;
                color: #6e6e6e;
                
                @media screen and(max-width: 991px) {
                    text-align: center;
                    margin: 20px 0px;
                }
                
                @media screen and (max-width: 767px) {      
                    font-size: 1.2rem;
                }
                
            }
            
        }
        
        .brand-palette-items {
            
            & > .pallete{
                padding-top: 32px;
                padding-bottom: 32px;
                text-align: center;

                h6{
                    font-size: 0.7em;
                    text-transform: uppercase;
                    @media screen and (max-width: 580px) {
                        font-size: 0.6em;
                    }
                }
                code{
                    font-size: 1.3em;
                    @media screen and (max-width: 580px) {
                        font-size: 1.2em;
                    }
                }

                &.navy-blue{
                    background: #206477;
                    color: #fff;
                }
                &.dark-blue{
                    background: #184B5A;
                    color: #fff;
                }
                &.extremely-dark-blue{
                    background: #2F3844;
                    color: #fff;
                }
                &.teal-green{
                    background: #2CC4A7;
                    color: #fff;
                }
                &.pastel-yellow{
                    background: #FFC45A;
                    color: #fff;
                }
                &.salmon-red{
                    background: #FF715A;
                    color: #fff;
                }
                &.dark-grey{
                    background: #6E6E6E;
                    color: #fff;
                }
                &.grey{
                    background: #CDCDCD;
                    color: #6E6E6E;
                }
                &.light-grey{
                    background: #EFEFEF;
                    color: #6E6E6E;
                }
            }
            
        }
        
    }
    
    .brand-resources-fonts {
        
        margin: 50px 0px;

        .brand-fonts{
            .roboto{
                font-family: $main-font;

                &.light{
                    font-weight: 300;
                }
                &.light-italic{
                    font-weight: 300;
                    font-style: italic;
                }
                &.regular{
                    font-weight: 400;
                }
                &.italic{
                    font-weight: 400;
                    font-style: italic;
                }
                &.medium{
                    font-weight: 500;
                }
                &.italic{
                    font-weight: 500;
                    font-style: italic;
                }
                &.bold{
                    font-weight: 700;
                }
                &.bold-italic{
                    font-weight: 700;
                    font-style: italic;
                }
            }
        }
        
        .brand-fonts-title {
            
            h2 {
                
                margin-top: -10px;
                font-size: 1.7rem;
                font-weight: 400;
                text-transform: uppercase;
                color: #6e6e6e;
                
                @media screen and(max-width: 991px) {
        
                    text-align: center;
                    margin: 20px 0px;

                }
                
                @media screen and (max-width: 767px) {      
                    
                    font-size: 1.2rem;
                    
                }
                
            }
            
            p {
                
                font-size: 16px;
                color: #206477;
                margin-bottom: 50px;
                
                @media screen and(max-width: 991px) {
        
                    text-align: center;

                }
                
            }
            
        }
        
        .fonts-item {
            
            text-transform: uppercase;
            margin-bottom: 20px;
            
            @media screen and(max-width: 991px) {
        
                text-align: center;

            }
            
            .font-name {
                color: #2F3844;
                margin-bottom: 5px;
                font-size: 2rem;
            }
            
            .font-weight {
                color: #2F3844;
                font-size: 1.1rem;
            }
            
        }
        
    }
    
    .brand-resources-products {
        
        margin: 50px 0px;
        
        .brand-products-title {
            
            h2 {
                
                margin-top: -10px;
                font-size: 1.7rem;
                font-weight: 400;
                text-transform: uppercase;
                color: #6e6e6e;
                
                @media screen and(max-width: 991px) {
        
                    text-align: center;
                    margin: 20px 0px;

                }
                
                @media screen and (max-width: 767px) {      
                    
                    font-size: 1.2rem;
                    
                }
                
            }
            
            p {
                
                font-size: 16px;
                color: #206477;
                margin-bottom: 50px;
                
                @media screen and(max-width: 991px) {
        
                    text-align: center;

                }
                
            }
            
        }
        
        .brand-products-items {
            
            figure {
                
                border-radius: .5rem;
                padding: 5% 0;
                background: #EFEFEF;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                img {
                    width: 90%;
                }
                
                button {
                    border: none;
                    background: white;
                    box-shadow: 0px 0px 10px #bcbcbc;
                    font-size: 22px;
                    text-transform: uppercase;
                    color: #6E6E6E;
                    height: 60px;
                    margin-top: 50px;
                    width: 90%;
                    
                    @media screen and (max-width: 767px) {      
                    
                        height: 40px;
                        font-size: 14px;

                    }
                    
                }                
                
            }
            
        }
        
    }
    
}