@media all and (min-width:992px)
{
	.mobile{
		display:none !important;
	}
}

@media all and (max-width:992px)
{
	.section-title{
		font-size:2em;
	}
	
	.desktop{
		display:none !important;
	}
	
	#Header{
		.navbar-toggler{
			display:inline-block !important;
			&+div{
				display:none !important;
			}
		}
		.logo{
			& > a{
				& > img{
					margin-top: -10px;
					max-width:200px;
					&.logo-mobile{
						display:block !important;
						&+img{
							display:none;
						}
					}
				}
			}
		}
		& > .header-sticky,
		& > .header-sticky-white{
			&.fixed{
				padding: 10px 15px;
			}
		}
	}
	
	#Home{
		min-height: 900px;
		background-size:cover;
		background-position:65%;
		
		& > .container{
			#Donna{
				min-height: 880px;
				
				-ms-align-items: flex-start !important;
				align-items: flex-start !important;
				text-align:center;
				
				& > .donna-intro{
					flex: 0 0 100%;
					margin-top:115px;
	
					& > h2,
					& > h4{
						color:#fff;
						text-shadow:none;
					}
					& > h4{
						font-size:1.7em;
					}
				}
				
				& > .mobile-button{
					-ms-flex-item-align: end!important;
    				align-self: flex-end!important;
					
					.btn{
						width:100%;
						max-width:100%;
					}
				}
				
			}
		}
	}
}

@media all and (min-width:768px)
{
	#HappyCustomers{
		.image-container{
			& + .image-container{
				border-left:1px solid #ccc;
			}
		}
	}
}

@media all and (max-width:768px){
	#Header{
		& > #MainMenu{
			padding: 0 15px;
			padding-top: 5px;
			margin: 0 auto;
				
			.logo{
				& > a{
					& > img{
						max-width:150px;
						margin-top: 8px;
					}
				}
			}
		}
		
		& > .header-sticky,
		& > .header-sticky-white{
			
			& > .container{
				border-bottom:1px solid rgba(255,255,255,0.5);
				padding-bottom: 10px;
			}
			
			&.fixed{

			}
		}
	}
	
	
	#Home{
		min-height: inherit;
		margin-bottom:128px;
		
		& > .container{
			#Donna{
				min-height: 600px;
				
				& > .donna-intro{
					margin-top:70px;
					
					& > h2{
						font-size: 3em;
					}
					& > h4{
						font-size:1.5em;
					}
				}
				
				& > .mobile-button{
					margin-bottom: -42px;
				}
				
			}
		}
	}
	
	
	#TeamMembers{
		& > .container{
			.card-link{
				&:hover,
				&:focus{
					transform: scale(1);
				}
			}
		}
	}
}

@media screen and (max-width: 575px) {
	.carecru-pagination .page-link {
		font-size: .7rem;
		padding: .3rem .45rem;
	}
}