@import "carecru";

html, body{
	background-color:#fff;
	font-family:$main-font;
	font-style:normal;
	font-weight:$main-font-weight;
	font-size:$main-font-size;
	color:#333;
}

body{
	&.has-popup{
		overflow:hidden;
	}
}

a{
	text-decoration:none;
	font-weight:$main-font-weight;
	color:$dark-blue;
	&:link,&:visited,&:active{
		color:$dark-blue;
	}
	&:hover{
		text-decoration:underline;
	}
}

h1,h2,h3,h4,h5,h6{
	font-family:$main-font;
	font-weight:$standard-header-font-weight;
	
	strong, b{
		font-weight:$main-header-font-weight;
	}
}

h1{
	font-size:2em;
}
h2{
	font-size:1.5em;
}
h3{
	font-size:1.3em;
}
h4{
	font-size:1em;
}
h5{
	font-size:0.8em;
}
h6{
	font-size:0.5em;
}

/**
 * Main Menu
 **/
#MainMenu{
	display:block;
	margin:32px auto;
	width:100%;
	position:relative;
	font-size:1.2em;
	
	& > .container{
		@media screen and (max-width:1366px) and (min-width:1200px)
		{
			padding:0 32px;
		}
		& .row {
			& > .logo,
			&  > .navbar{
				display:inline-block;
				vertical-align:middle;
				padding:0;
				margin:0;
				max-height:80px;
			}
			
			& > .logo{
				//width:21%;
				//max-width:250px;
				font-size:1.5em;
				
				& > a{
					& > img{
						margin-top: 0;
						max-width:250px;
					}
				}
			}
			
			&  > .navbar{
				//width:80%;
				//max-width:1150px;
				text-align:right;
				
				& > .navbar-toggler{
					display:none;
					width:38px;
					height:32px;
					vertical-align:middle;
					    margin-top: 5px;
					background:transparent;
					
					border:none;
					
					& > .navbar-toggler-icon{
						display:block;
						background-color:$grey;
						width:100%;
						height:3px !important;
						border:none;
						float:right;
						
						&+.navbar-toggler-icon{
							margin-top:3px;
						}
						&:nth-child(2){
							width:80%;
						}
						&:nth-child(3){
							width:90%;
						}
					}
				}
				
				& > div > .navbar-menu{
					list-style:none;
					padding:0;
					margin:0;
					
					& > li{
						display:inline-block;
						position:relative;
						padding:5px 0;
						
						& > a{
							display:block;
							line-height:1.2em;
							font-size:16px;
							padding:8px 24px;
							color:#a1a1a1;
							text-decoration:none;
							font-weight:300;

							@media screen and (max-width:1200px)
							{
								padding:8px 15px;
							}
								
							&:link,
							&:visited,
							&:active{
								color:#a1a1a1;
							}
						}
						
						&.active > a,
						&.current_page_item > a{
							color:$grey;
							font-weight:bold;
							text-decoration:none;
						}
						
						&:hover > a{
							color:$dark-blue;
							text-decoration:none;
						}
						
						& > .sub-menu{
							display:none;
							background-color:#fff;
													
							& > li{
								display:block;
								position:relative;
								width:100%;
								
								& > a{
									display:block;
									line-height:1.2em;
									padding:15px 15px;
									color:#7e7e7e;
									text-decoration:none;
										
									&:link,
									&:visited,
									&:active{
										color:#7e7e7e;
									}
								}
								
								&.active > a{
									color:$grey;
									font-weight:bold;
								}
								
								&:hover > a{
									color:$grey;
								}
							}
						}
						
						//& > .sub-menu, /* DEBUG */
						&:hover > .sub-menu,
						&:focus > .sub-menu{
							display:block;
							position:absolute;
							z-index:1;
							
							top:100%;
							left: 50%;
							right: auto;
							
							-webkit-transform: translate(-50%, 0);
							transform: translate(-50%, 0);
							
							width: 200px;
							list-style: none;
							padding: 15px 15px;
							margin: 0;
							text-align: left;
							
							border-bottom:$dark-blue 5px solid;
							
							-webkit-box-shadow: rgba(0,0,0,0.1) 0 0 40px, rgba(255,255,255,0.3) 0 0 40px;
							-moz-box-shadow: rgba(0,0,0,0.1) 0 0 40px, rgba(255,255,255,0.3) 0 0 40px;
							-ms-box-shadow: rgba(0,0,0,0.1) 0 0 40px, rgba(255,255,255,0.3) 0 0 40px;
							box-shadow: rgba(0,0,0,0.1) 0 0 40px, rgba(255,255,255,0.3) 0 0 40px;
							
							&:before{
								content: "";
								position: absolute;
								z-index: 1;
								top: -12px;
								width: 0;
								left: 50%;
								right: auto;
								transform: translate(-50%, 0);
								height: 0;
								border-left: 15px solid transparent;
								border-right: 15px solid transparent;
								border-bottom: 15px solid #fff;
							}
						}
					}
					
					& > li.menu-item-button{
						position:relative;
						
						& > #get-a-price{
							@media screen and (max-width:1200px)
							{
								padding:8px 24px;
							}
							padding-top:0.8em;
							padding-bottom:0.8em;
							font-weight:400;
							text-transform:uppercase;
							/*background:$orange;
							color:#fff;
							
							-webkit-border-radius:50px;
							border-radius:50px;
							
							padding:15px 32px;
							
							&:hover{
								background:$orange-hover;
							}*/
						}
					}
				}
			}
		}
	}
	
	/**
	 * Standard Header
	**/
	&.header-standard{
		@include box-shadow(0,8px,10px,0,rgba(0,0,0,0.1));
		padding-top:32px;
		padding-bottom:32px;
		margin-top:0px !important;
	}
	
	/**
	 * Sticky Header
	**/
	&.header-sticky,
	&.header-sticky-white{
		position: fixed;
		z-index:100;
		top: 0;
		left: 0;
		padding-left: 15px;
		padding-right: 15px;

		@media screen and (max-width:1200px)
		{
			padding-left: 0;
			padding-right: 0;
		}

		@media screen and (max-width:992px)
		{
			padding-left: 15px;
			padding-right: 15px;
		}
				
		& > .container{

			@media screen and (max-width:1200px)
			{
				padding-left: 0;
				padding-right: 0;
			}

			@media screen and (max-width:992px)
			{
				padding-left: 15px;
				padding-right: 15px;
			}

			& .row {
				& > .logo{
					& > a{
						color: #dedede;
						&:hover{
							color: #fff;
						}
						
						& > img.logo-mobile{
							display:none;
						}
					}
				}
				
				& > .navbar{
					
					& > .navbar-toggler{
						& > .navbar-toggler-icon{
							background-color:#fff;
						}
					}
					
					& > div{
						& > .navbar-menu{
							& > li{
								& > a{
									color: #cdcdcd;
									
									&:link,
									&:visited,
									&:active{
										color: #cdcdcd;
									}
								}
	
								&.active > a,
								&.current_page_item > a,
								&:hover > a{
									color: #fff;
								}
							}					
						}
					}
				}
			}
		}
		

		&.fixed{
			// background:#fff;
			background-color:$dark-blue;
			margin: 0 auto;
			@include box-shadow(0,5px,5px,0,rgba(0,0,0,0.1));
			padding-bottom: 15px;
    		padding-top: 15px;
			
			& .row {
				& > .navbar{
					
					& > .navbar-toggler{
						& > .navbar-toggler-icon{
							background-color:#f1f1f1 !important;
							opacity: 0.8;

							&:hover{
								opacity: 1;
							}
						}
					}
					
					& > div{
						& > .navbar-menu{
							& > li{
								& > a{
									color: #cdcdcd;
									
									&:link,
									&:visited,
									&:active{
										color: #fff;
									}
								}
	
								&.active > a,
								&.current_page_item > a,
								&:hover > a{
									color: #fff;
								}
							}					
						}
					}
				}
			}
		}
	}
}

/**
 * MOBILE MENU
**/

.mobile-menu{
	position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 90000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	
	& > .mobile-menu-header{
		margin:20px 5%;
		& > img{
			max-width:180px;
		}
		
		& > #MobileMenuClose{
			background: transparent;
			border: none;
			float: right;
			font-size: 1.5em;
			color:$orange;
	
			&:hover{
				color:$orange-hover;
			}
		}
	}
	& > .mobile-menu-container{
		position:absolute;
		top:50%;
		left:50%;
		-webkit-transform:translate(-50%,-50%);
		-moz-transform:translate(-50%,-50%);
		transform:translate(-50%,-50%);
		
		width:90%;
		
		& ul{			
			list-style:none;
			padding:0;
			text-align:center;
			
			& > li{
				font-size:30px;
				
				&+li{
					margin-top:15px;
				}
				
				& > a{
					color:$grey;
					font-weight:400;
					
					&:hover,
					&:active{
						color:$dark-blue;
					}
				}
			}
		}
	}
}


/**
 * Sticky Header Admin Bar Fix
**/
body{
	&.admin-bar{
		&  .mobile-menu,
		& .header-sticky,
		& .header-sticky-white{
			top: 32px !important;
		}
	}
	
	&.elementor-editor-active{
		& .header-sticky,
		& .header-sticky-white{
			display:none !important;
		}
	}
}

/*
* Single Page
*/
#SinglePage{	
	& > .container{
		margin-top: 64px;
		margin-bottom: 64px;
		font-size:0.8em;
	
		& > .row{
			& > h1{
				font-weight:300;
				margin:0;
				padding:0 0 10px 0;
				line-height:normal;
			}
			
			& > .modified-date{
				text-align:right;
				padding-bottom:10px;
			}
		}
	}
}

#BlogPosts,
#SearchPage{
	background-image: url(../images/blog.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -45px !important;
	padding-bottom: 45px;
}

/*
* Blog Submenu
*/
.blog-submenu{
	list-style: none;
	padding: 0;
	margin: 32px auto 48px auto;
	display: table;
	text-align: center;

	@media screen and (max-width:992px)
	{
		margin: 0 auto 15px auto;
		padding: 10px 0 15px 0;
		border-bottom: 2px solid #efefef;

		overflow-x: auto;
		white-space: nowrap;
		max-width: 100%;
    	display: block;
	}

	&>li{
		display: inline-block;
		border-bottom: 3px solid transparent;

		@media screen and (max-width:768px)
		{
			margin-top: 15px;
		}

		& > a{
			color: $grey;
			padding: 3px 10px;
			font-weight: 400;
			&:hover{
				text-decoration: none;
			}
		}
		&:hover{
			border-color:$grey;
		}
		&.active,
		&.active:hover{
			border-color:$dark-blue;

			&>a{
				font-weight: 700;
			}
		}

		&+li{
			margin-left: 15px;
		}
	}
}

/*
 * Article List
*/
article.article{
	& > .card{
		@include box-shadow(0,0,41px,0,rgba(0,0,0,0.2));
		@include border-radius(5px);
		color:$grey;

		&:hover,
		&:focus{
			color:$grey;
			text-decoration: none;
		}

		h3{
			color:$dark-blue;
		}

		a{
			color:$grey;
			text-decoration: none;

			& > h3{
				color:$dark-blue;
				text-decoration: none;
			}
		}

		figure.thumbnail{
			display: block;
			position: relative;
			overflow: hidden;
			min-height: 150px;
			width: 100%;

			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;

		
			img{
				position: absolute;
				width: auto;
				max-width: inherit;
				height: 100%;
				max-height: 100%;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				zoom: 1;
				z-index: 1;
			}

			@media all and (max-width:768px){
				overflow: inherit;
				min-height: auto;

				img{
					position: inherit;
					width: 100%;
					max-width: 100%;
					height: auto;
					max-height: inherit;
					top: inherit;
					left: inherit;
					-webkit-transform: inherit;
					-moz-transform: inherit;
					transform: inherit;
				}
			}
		}
	}
}

/*
 * Category Blog menu
*/
.category-menu{
	list-style: none;
	padding: 0;
	margin: 32px auto;
	display: block;
	text-align: left;
	width: 100%;

	&>li{
		display: block;
		width: 100%;

		& > a{
			color: $grey;
			display: block;
			width: 100%;
			padding: 8px 15px 8px 5px;
			font-weight: 400;
			&:hover{
				text-decoration: none;
				font-weight: 700;
			}
		}
		&:hover{
			border-color:$grey;
		}
		&.active,
		&.active:hover{


			&>a{
				font-weight: 700;
			}
		}
	}
}
/*
 * Sticky Posts
*/
#StickyPosts{

	.carousel-inner{
		@include box-shadow(0,0,41px,0,rgba(0,0,0,0.2));
		@include border-radius(10px);

		.carousel-caption{
			color: $grey;
			font-weight: 700;
			h3{
				font-size: 2.5em;
				font-weight: 700;
				margin-bottom: 0;
				color: $grey;
		
				@media screen and (max-width:768px)
				{
					font-size: 1.8em;
				}
			}
			.author{
				vertical-align: middle;
		
				&>img{
					display: inline-block;
					margin-top: -3px;
					margin-right: 10px;
				}
			}
		
			@media screen and (max-width:580px)
			{
				
				top: 50%;
				right: auto;
				bottom: auto;
				left: 50%;
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
			}
		}
	}
}
/*
 * Single Posts
*/
#SinglePost{
	
	@media all and (max-width:992px)
	{	
		.thumbnail{
			margin:0;
			padding:0;
		}
	}
	@media screen and (max-width:768px)
	{
		&>.container{
			padding-right:0;
			padding-left:0;
		}
	}
	h3{
		color:$grey;
	}

	h1{
		font-size: 2.5em;
		color: $grey;
		font-weight: 700;
		
		@media all and (max-width:992px)
		{
			text-align:center;
		}
	}
	
	.meta-container{
		margin-bottom:32px;

		.breadcrumb{
			background-color: transparent;
			font-size:14px;
			text-transform: uppercase;
			font-weight: 700;
			padding-left:0;
			padding-right:0;
				margin: 0;
			a{
				text-transform: uppercase;
				font-size:14px;
				font-weight: 400;
			}
		}
	}
	
	.meta{
		font-size:14px;
		text-transform: uppercase;
		font-weight: 700;
		color:$grey;
		text-align: right;
		
		@media all and (max-width:992px)
		{
			line-height: inherit;
			text-align:left;
			font-size:11px;
			font-weight:300px;
			
			&+.meta{
				margin-left:20px;
			}
		}
		
		.fa,
		.fas,
		.far,
		.fab{
			color:$dark-blue;
			margin-right: 5px;
			display: inline-block;
		}
	}

	.tags{
		a{
			display: inline-block;
			border: 1px solid #dedede;
			padding: 8px 15px;
			color:$grey;

			&:hover{
				font-weight: 400;
				text-decoration: none;
			}

			&+a{
				margin-left: 10px;
			}
		}
	}

	.pn{

		a{
			display: inline-block;
			color: $grey;
			font-weight: 700;
			text-decoration: none;
			.fa,
			.fas,
			.far,
			.fab{
				font-weight: 900;
			}

			&:hover{
				color: $dark-blue;
				text-decoration: none;

				.fa,
				.fas,
				.far,
				.fab{
					font-weight: 900;
				}
			}
		}
	}

	article.article{
		
		@media screen and (max-width:768px)
		{
			padding-right:0;
			padding-left:0;
		}
		
		& > .card{
			@include box-shadow(0,0,0,0,transparent);
			@include border-radius(0);
			border: none;

			a{
				text-decoration: none;
				&:hover{
					text-decoration: none;
				}
			}

			h3{
				color:$grey;
				margin-bottom: 0;
			}
	
			img{
				-webkit-border-top-left-radius: 0;
				-webkit-border-top-right-radius: 0;
				-moz-border-radius-topleft: 0;
				-moz-border-radius-topright: 0;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				
				width:100%;
				max-width:100%;
				height:auto;
				max-height:inherit;

				@media all and (max-width:768px){
					position: inherit;
					width: 100%;
					max-width: 100%;
					height: auto;
					max-height: inherit;
					top: inherit;
					left: inherit;
					-webkit-transform: inherit;
					-moz-transform: inherit;
					transform: inherit;
				}
			}

			.card-body{
				padding-left: 0;
				padding-right: 0;
				
				@media screen and (max-width:768px)
				{
					padding-right:15px;
					padding-left:15px;
				}
			}
		}
	}

	li.comment + li.comment {
		margin-top: 15px;
		border-top: 1px solid #ccc;
		padding-top: 15px;
	}
}

.widget-area{
	
	@media screen and (max-width:992px)
	{
		margin-top: 15px;
	}
	
	.widget{
		ul{
			list-style: none;
			padding: 0;
			margin: 0 auto;

			& > li{
				display: block;
				background-color: #EFEFEF;
				color: $grey;
				
				@media screen and (max-width:992px)
				{
					text-align:center;
					&:nth-child(even){
						background-color: #f5f5f5;
					}
				}

				& > a{
					display: block;
					font-weight: 400;
					line-height: normal;
					color: $grey;
					padding: 10px 15px;
					&:hover{
						text-decoration: none;
					}
				}

				& > .post-date{
					display: block;
					font-size: 0.7em;
					padding: 0 15px 10px 15px;
				}

				& + li{
					margin-top: 10px;
					@media screen and (max-width:992px)
					{
						margin-top: 1px;
					}
				}

				&:hover{
					background-color: $dark-blue;
					color: #fff;

					& > a{
						color: #fff;
					}
				}
			}
		}

		& > h4{
			text-transform: uppercase;
			color:$grey;
			margin-bottom: 10px;
			@media screen and (max-width:992px)
			{
				text-align:center;
			}
		}

		& + .widget{
			margin-top: 64px;
			@media screen and (max-width:992px)
			{
				margin-top: 15px;
			}
		}
	}
}

/**
 * 404
*/
#P404{
	h1{
		font-size: 4em;
	}
	h3{
		font-size: 2em;
		line-height: normal;
	}
	h4{
		color:$light-grey;
	}

	a{
		font-weight: 400;
	}
}

#FAQ{
	padding-top:64px;
	background-image: url(../images/Home/pattern-footer.png);
	background-position: left 18%;
    background-repeat: repeat-x;
    background-size: auto;
	
	#AccordionFAQ{
		border:none;
		
		.card{
			
			/*@include box-shadow(0,0,41px,4px,rgba(0,0,0,0.13));*/
			
			border: 1px solid rgba(0, 0, 0, 0.080);
			
			.card-header{
				border:none;
				background:transparent;
				
				[data-toggle="collapse"]{
					position: relative;
					border:none;
					display:block;
					width:100%;
					text-align:left;
					color:$dark-blue;
					padding-right: 24px;
					
					white-space: initial;
					
					&.collapsed:after,
					&:after{
						//position:absolute;
						color: $dark-blue;
						float:right;
						font-family:$gotham-bold;
						font-size: 22px;
						position: absolute;
						right: 0;
						top: 2px;
					}
					
					&:after{
						content: "\2013";	
					}
					
					&.collapsed{
						color:$grey;
						&:after{
							content: "+";
						}
					}
					
					&:hover{
						text-decoration:none;
						color:$dark-blue;
					}
					&:focus{
						text-decoration:none;
					}
				}
			}
			
			& .card-body{
				padding-left: 32px;
				padding-right: 32px;
			}
			
			&:first-of-type{
				border-bottom: 1px solid rgba(0, 0, 0, 0.080);
				border-bottom-right-radius: 3px;
				border-bottom-left-radius: 3px;
			}
			
			&+.card{
				margin-top:5px;
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
			}
		}
	}
}
/**
 * Footer
 **/
#Footer{
	background-color:#242424;
	color:#b4b4b4;
	z-index:1;
	
	& > .widgets{
		padding-top:64px;
		padding-bottom:64px;
		
		& > .container{
			& > .row{
				
				@media all and (max-width:992px){
					display:block;
					flex-wrap: inherit;
					
					& > .col{
						display: inline-block;
						max-width: 32.33%;
						vertical-align: top;
						margin-bottom:10px;
						
						&:first-child,
						&:last-child{
							display: block;
							max-width:100%;
							text-align: center;
						}
					}
				}
				
				@media all and (max-width:340px){
					& > .col{
						max-width: 49%;
						
						&:first-child,
						&:last-child{
							max-width:100%;
						}
					}
				}
				
				@media all and (max-width:320px){
					& > .col{
						display: block;
						max-width:100%;
						text-align: center;
					}
				}
				
				& > .col{
					
					& > .widget{
						&  > h4{
							text-transform:uppercase;
							padding:0 10px;
							color:#fff;
							font-weight:500;
						}
						
						& > form,
						& > div{
							padding-left:10px;
							padding-right:10px;
						}
						
						& > [class^="menu-"]{
							padding-left:0;
							padding-right:0;
						}
						
						 ul{
							list-style:none;
							margin:0;
							padding:0;
							
							& > li{
								display:block;
								width:100%;
								
								& > a{
									display:block;
									width:100%;
									line-height:1.2em;
									padding: 8px 10px;
									color:#ccc;
									text-decoration:none;
									
									&:link,
									&:visited,
									&:active{
										color:#ccc;
									}
								}
								
								&:hover,
								&:focus{
									& > a{
										color:#fff;
									}
								}
								
								&  > ul{
									padding-left:15px;
								}
							}
						}
					}
				}
			}
		}
	} 
	
	& > .copyright{
		background-color:#383838;
		
		& > .container{
			padding-top:15px;
			padding-bottom:15px;
			color:#ccc;
			font-size:90%;
			vertical-align:middle;
			font-size:15px;
			font-weight:400;
			
			& > img{
				display:inline;
				max-height:22px;
				margin: -6px 5px auto auto;

				@media screen and (max-width:768px)
				{
					display: table;
					margin: 0 auto 10px auto;
				}
			}
		}
	}
}

.icon {
	position:relative;
	text-align:center;
	width:0px;
	height:0px;
	padding:20px;
	border-top-right-radius: 	20px;
	border-top-left-radius: 	20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 	20px; 
	-moz-border-radius: 		20px 20px 20px 20px;
	-webkit-border-radius: 		20px 20px 20px 20px;
	-khtml-border-radius: 		20px 20px 20px 20px; 	
	color:#FFFFFF;

	&.social {
		float:left;
		margin:0 5px 0 0;
		cursor:pointer;
		background:$orange;
		color:#fff;
		transition: 0.5s;
		-moz-transition: 0.5s;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;

		i {
			font-size:20px;
			position:absolute;
			left:11px;
			top:10px;
	
			&.fa-facebook-f {
				left: 15px;
				top: 10px;
			}
		}

		&:hover {
			background:$orange-hover;
			color:#fff;
			transition: 0.5s;
			-moz-transition: 0.5s;
			-webkit-transition: 0.5s;
			-o-transition: 0.5s;
			-webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
			-moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
			-ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
			-o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
			filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));	 	
		}
	}
}

.icon-group{
	display: inline-block;
}


/*
* Utils
*/
.relative{
	position:relative;
}


@import "carecru-popup";
/*
* RESPONSIVE
*/
@import "carecru-responsive";