@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.otf") format("opentype");
  font-weight: 700; }
@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.otf") format("opentype"); }
@font-face {
  font-family: 'Gotham-BookItalic';
  src: url("../fonts/Gotham-BookItalic.woff") format("woff"), url("../fonts/Gotham-BookItalic.otf") format("opentype");
  font-style: italic; }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.otf") format("opentype");
  font-weight: 400; }
@font-face {
  font-family: 'Gotham-Light';
  src: url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.otf") format("opentype");
  font-weight: 300; }
body.about-page {
  background-image: url(../images/happy-2-bkg.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100%; }
  @media screen and (max-width: 768px) {
    body.about-page {
      background-size: cover; } }

.about-header {
  position: relative;
  height: 70vh;
  background-image: url("../images/About/Header-Image.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 992px) {
    .about-header {
      height: 60vh; } }
  @media screen and (max-width: 768px) {
    .about-header {
      height: 50vh; } }
  .about-header .header-overlay {
    position: absolute;
    width: 100%;
    height: 70vh;
    top: 0;
    left: 0;
    background-color: #184b5a;
    opacity: 0.9; }
    @media screen and (max-width: 992px) {
      .about-header .header-overlay {
        height: 60vh; } }
    @media screen and (max-width: 768px) {
      .about-header .header-overlay {
        height: 50vh; } }
  .about-header h1 {
    font-size: 4em;
    font-weight: 600;
    color: white; }
    @media screen and (max-width: 767px) {
      .about-header h1 {
        font-size: 2em; } }
  .about-header p {
    font-size: 1.3em;
    color: white; }

.about-info .about-info-container {
  position: relative;
  background: white;
  border-radius: 10px;
  padding: 60px;
  margin-top: -10%;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.13); }
  @media screen and (max-width: 767px) {
    .about-info .about-info-container {
      padding: 20px;
      margin-top: -20%; } }
  .about-info .about-info-container h2 {
    color: #184B5A;
    font-size: 2.5em;
    font-weight: 300; }
    @media screen and (max-width: 767px) {
      .about-info .about-info-container h2 {
        text-align: center;
        font-size: 1.5em; } }
    .about-info .about-info-container h2 span {
      font-weight: 700; }
  .about-info .about-info-container p {
    font-size: 1.1em;
    font-weight: 300;
    color: #6e6e6e; }
    @media screen and (max-width: 767px) {
      .about-info .about-info-container p {
        text-align: center;
        font-size: 0.9em; } }

.team .team-wrapper {
  margin-bottom: 32px;
  margin-top: 32px; }
.team .team-title {
  display: flex;
  justify-content: center; }
  .team .team-title h2 {
    color: #184B5A;
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 70px; }
    @media screen and (max-width: 997px) {
      .team .team-title h2 {
        margin-bottom: 32px;
        margin-top: 32px; } }
    @media screen and (max-width: 767px) {
      .team .team-title h2 {
        font-size: 1.5em; } }
.team .team-member {
  text-align: center; }
  .team .team-member .team-member-image {
    border-radius: 100%;
    background: grey;
    width: 185px;
    height: 185px; }
    @media screen and (max-width: 1200px) {
      .team .team-member .team-member-image {
        width: 150px;
        height: 150px; } }
    @media screen and (max-width: 991px) {
      .team .team-member .team-member-image {
        margin: 20px auto; } }
    .team .team-member .team-member-image img {
      object-fit: cover;
      object-position: center; }
  .team .team-member h2 {
    font-size: 1.3em;
    color: #6e6e6e;
    margin: 0px; }
  .team .team-member span {
    color: #b1b1b1;
    font-size: 13px;
    font-style: italic; }
  .team .team-member p {
    font-size: 0.9em;
    line-height: 1.5em;
    margin-top: 20px; }

/*# sourceMappingURL=about.css.map */
