@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.otf") format("opentype");
  font-weight: 700; }
@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.otf") format("opentype"); }
@font-face {
  font-family: 'Gotham-BookItalic';
  src: url("../fonts/Gotham-BookItalic.woff") format("woff"), url("../fonts/Gotham-BookItalic.otf") format("opentype");
  font-style: italic; }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.otf") format("opentype");
  font-weight: 400; }
@font-face {
  font-family: 'Gotham-Light';
  src: url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.otf") format("opentype");
  font-weight: 300; }
/*
* Contact Page
*/
body.contact-page {
  background-image: url(../images/happy-3-bkg.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100%; }
  @media screen and (max-width: 768px) {
    body.contact-page {
      background-size: cover;
      background-position: left center; } }

.contact-page-header {
  padding: 150px 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 99, 118, 0.75)), to(rgba(31, 99, 118, 0.75))), url("../images/Contact/Header-Image.jpg");
  background: -webkit-linear-gradient(rgba(31, 99, 118, 0.75), rgba(31, 99, 118, 0.75)), url("../images/Contact/Header-Image.jpg");
  background: -o-linear-gradient(rgba(31, 99, 118, 0.75), rgba(31, 99, 118, 0.75)), url("../images/Contact/Header-Image.jpg");
  background: linear-gradient(rgba(31, 99, 118, 0.75), rgba(31, 99, 118, 0.75)), url("../images/Contact/Header-Image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .contact-page-header h2 {
    font-weight: 400 !important;
    text-align: center;
    font-size: 38px;
    color: white; }
    @media screen and (max-width: 767px) {
      .contact-page-header h2 {
        font-size: 32px; } }
  @media screen and (max-width: 767px) {
    .contact-page-header {
      padding: 80px 15px; } }

.contact-form-wrapper {
  padding-top: 20px;
  padding-bottom: 30px;
  position: relative;
  bottom: 70px; }
  .contact-form-wrapper .contact-map {
    margin-bottom: 32px;
    margin-top: 32px; }
    .contact-form-wrapper .contact-map .col-12 {
      border-radius: 1rem;
      -webkit-box-shadow: 0 0px 10px 0 #cdcdcd;
      -moz-box-shadow: 0 0px 10px 0 #cdcdcd;
      -ms-box-shadow: 0 0px 10px 0 #cdcdcd;
      -o-box-shadow: 0 0px 10px 0 #cdcdcd;
      box-shadow: 0 0px 10px 0 #cdcdcd;
      padding-left: 0;
      padding-right: 0;
      overflow: hidden;
      height: 398px; }
      .contact-form-wrapper .contact-map .col-12 iframe {
        display: block;
        width: 100%;
        border-radius: 1rem; }
  .contact-form-wrapper .contact-form {
    background: white;
    padding: 30px;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0px 10px 0 #cdcdcd;
    -moz-box-shadow: 0 0px 10px 0 #cdcdcd;
    -ms-box-shadow: 0 0px 10px 0 #cdcdcd;
    -o-box-shadow: 0 0px 10px 0 #cdcdcd;
    box-shadow: 0 0px 10px 0 #cdcdcd; }
    @media screen and (min-width: 996px) {
      .contact-form-wrapper .contact-form {
        flex: 0 0 55%;
        max-width: 55%;
        margin-right: 20px; } }
    .contact-form-wrapper .contact-form .form-title {
      font-weight: 400 !important;
      font-size: 28px;
      margin-bottom: 50px;
      color: #184B5A; }
      @media screen and (max-width: 767px) {
        .contact-form-wrapper .contact-form .form-title {
          font-size: 22px; } }
    .contact-form-wrapper .contact-form input::-webkit-input-placeholder, .contact-form-wrapper .contact-form textarea::-webkit-input-placeholder {
      color: #cdcdcd; }
    .contact-form-wrapper .contact-form input:-ms-input-placeholder, .contact-form-wrapper .contact-form textarea:-ms-input-placeholder {
      color: #cdcdcd; }
    .contact-form-wrapper .contact-form input::-ms-input-placeholder, .contact-form-wrapper .contact-form textarea::-ms-input-placeholder {
      color: #cdcdcd; }
    .contact-form-wrapper .contact-form input::placeholder, .contact-form-wrapper .contact-form textarea::placeholder {
      color: #cdcdcd; }
    .contact-form-wrapper .contact-form input {
      width: 100%;
      padding: 25px 0px;
      padding-left: 30px;
      font-size: 18px;
      font-weight: 400 !important;
      border-radius: .25rem;
      border: 1px solid #cdcdcd;
      color: #555;
      outline: none; }
      @media screen and (max-width: 767px) {
        .contact-form-wrapper .contact-form input {
          padding: 15px;
          font-size: 14px; } }
      @media screen and (max-width: 475px) {
        .contact-form-wrapper .contact-form input {
          padding: 10px;
          font-size: 12px; } }
    .contact-form-wrapper .contact-form textarea {
      width: 100%;
      height: 250px;
      font-size: 18px;
      font-weight: 400 !important;
      padding-top: 25px;
      padding-left: 30px;
      border-radius: .25rem;
      border: 1px solid #cdcdcd;
      color: #555;
      outline: none; }
      @media screen and (max-width: 767px) {
        .contact-form-wrapper .contact-form textarea {
          padding: 15px;
          font-size: 14px; } }
      @media screen and (max-width: 475px) {
        .contact-form-wrapper .contact-form textarea {
          padding: 10px;
          font-size: 12px; } }
    .contact-form-wrapper .contact-form input[type=submit] {
      color: white;
      width: 100%;
      height: 70px;
      font-size: 22px;
      background-color: #184B5A;
      border-radius: .25rem;
      border-style: none;
      text-transform: uppercase;
      padding: 0px; }
      @media screen and (max-width: 991px) {
        .contact-form-wrapper .contact-form input[type=submit] {
          height: 50px;
          font-size: 18px;
          margin: 0 auto; } }
      @media screen and (max-width: 475px) {
        .contact-form-wrapper .contact-form input[type=submit] {
          width: 100%;
          height: 40px;
          font-size: 16px; } }
  .contact-form-wrapper .contact-info-wrapper {
    position: relative;
    top: 70px; }
    @media screen and (max-width: 991px) {
      .contact-form-wrapper .contact-info-wrapper {
        padding: 0px; } }
    @media screen and (max-width: 768px) {
      .contact-form-wrapper .contact-info-wrapper {
        top: 32px; } }
    @media screen and (max-width: 991px) {
      .contact-form-wrapper .contact-info-wrapper .container {
        padding: 0px; } }
    .contact-form-wrapper .contact-info-wrapper .contact-info p {
      color: #cdcdcd;
      font-size: 15px;
      font-weight: 400 !important;
      margin: 0px;
      text-transform: uppercase; }
      @media screen and (max-width: 997px) {
        .contact-form-wrapper .contact-info-wrapper .contact-info p {
          text-align: center; } }
    .contact-form-wrapper .contact-info-wrapper .contact-info h2 {
      font-weight: 400 !important;
      font-size: 22px;
      color: #555; }
      @media screen and (max-width: 997px) {
        .contact-form-wrapper .contact-info-wrapper .contact-info h2 {
          text-align: center;
          margin-bottom: 20px; } }
  .contact-form-wrapper .contact-subscribe {
    margin-bottom: 70px;
    background: #ffffff;
    -webkit-box-shadow: 0 0px 10px 0 #cdcdcd;
    -moz-box-shadow: 0 0px 10px 0 #cdcdcd;
    -ms-box-shadow: 0 0px 10px 0 #cdcdcd;
    -o-box-shadow: 0 0px 10px 0 #cdcdcd;
    box-shadow: 0 0px 10px 0 #cdcdcd;
    border-radius: 1rem;
    padding: 45px;
    width: 100%; }
    @media screen and (max-width: 991px) {
      .contact-form-wrapper .contact-subscribe {
        margin: 0px; } }
    @media screen and (max-width: 475px) {
      .contact-form-wrapper .contact-subscribe {
        padding: 10px; } }
    .contact-form-wrapper .contact-subscribe h2 {
      font-weight: 400 !important;
      font-size: 22px;
      color: #184B5A;
      margin: 0px; }
    .contact-form-wrapper .contact-subscribe h3 {
      font-weight: 400 !important;
      font-size: 16px;
      color: #999;
      margin-bottom: 30px; }
    .contact-form-wrapper .contact-subscribe input::-webkit-input-placeholder {
      color: #ccc; }
    .contact-form-wrapper .contact-subscribe input:-ms-input-placeholder {
      color: #ccc; }
    .contact-form-wrapper .contact-subscribe input::-ms-input-placeholder {
      color: #ccc; }
    .contact-form-wrapper .contact-subscribe input::placeholder {
      color: #ccc; }
    .contact-form-wrapper .contact-subscribe input {
      width: 100%;
      height: 60px;
      padding: 25px 0px;
      padding-left: 25px;
      font-size: 14px;
      border-radius: .25rem;
      border: 1px solid #cdcdcd;
      color: #555;
      outline: none; }
    .contact-form-wrapper .contact-subscribe button {
      height: 60px;
      width: 90px;
      background-color: #184B5A;
      color: white;
      border-style: none;
      border-radius: .25rem; }

/*# sourceMappingURL=contact.css.map */
