@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.otf") format("opentype");
  font-weight: 700; }
@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.otf") format("opentype"); }
@font-face {
  font-family: 'Gotham-BookItalic';
  src: url("../fonts/Gotham-BookItalic.woff") format("woff"), url("../fonts/Gotham-BookItalic.otf") format("opentype");
  font-style: italic; }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.otf") format("opentype");
  font-weight: 400; }
@font-face {
  font-family: 'Gotham-Light';
  src: url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.otf") format("opentype");
  font-weight: 300; }
/*
* Home Page
*/
.section-title {
  font-size: 2.5em;
  font-weight: 700;
  color: #184B5A; }

.overly-image {
  position: relative;
  margin: 0 auto; }
  .overly-image img {
    padding: 0 3em; }
  .overly-image > .overly-image-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0; }
  .overly-image:hover > img {
    opacity: 0; }
  .overly-image:hover .overly-image-hover {
    opacity: 1; }

#Home {
  background: url(../images/Home/Header-BG.jpg) no-repeat right top;
  background-size: 60%;
  min-height: 840px; }
  @media all and (max-width: 1600px) {
    #Home {
      min-height: 710px; } }
  @media all and (max-width: 1280px) {
    #Home {
      min-height: 586px; } }
  @media all and (max-width: 2000px) {
    #Home {
      min-height: 565px; } }
  #Home > .container #Donna {
    min-height: 840px; }
    @media all and (max-width: 1600px) {
      #Home > .container #Donna {
        min-height: 710px; } }
    @media all and (max-width: 1280px) {
      #Home > .container #Donna {
        min-height: 586px; } }
    #Home > .container #Donna > .donna-intro > h2 {
      color: #184B5A;
      font-weight: 700;
      font-size: 72px;
      margin: 0;
      padding: 0;
      line-height: normal;
      text-shadow: -1px 0 3px white, 0 1px 3px white, 1px 0 3px white, 0 -1px 3px white; }
      @media screen and (max-width: 1200px) {
        #Home > .container #Donna > .donna-intro > h2 {
          font-size: 64px; } }
    #Home > .container #Donna > .donna-intro > h4 {
      color: #184B5A;
      font-size: 21px;
      font-weight: 300;
      margin: 0;
      padding: 0;
      line-height: normal;
      text-shadow: -1px 0 3px white, 0 1px 3px white, 1px 0 3px white, 0 -1px 3px white; }
      @media screen and (max-width: 1200px) {
        #Home > .container #Donna > .donna-intro > h4 {
          font-size: 18px; } }

/* Team members */
#TeamMembers > .container .card-link {
  color: #6e6e6e;
  cursor: default;
  transform: scale(1);
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -webkit-box-shadow: 0 0 41px 4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 0 41px 4px rgba(0, 0, 0, 0.13);
  -ms-box-shadow: 0 0 41px 4px rgba(0, 0, 0, 0.13);
  -o-box-shadow: 0 0 41px 4px rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 41px 4px rgba(0, 0, 0, 0.13);
  padding-top: 32px;
  padding-bottom: 32px; }
  #TeamMembers > .container .card-link > .overly-image {
    position: relative;
    max-width: 200px;
    margin: 0 auto; }
    #TeamMembers > .container .card-link > .overly-image > .overly-image-hover {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0; }
  #TeamMembers > .container .card-link > .card-body > .card-title {
    color: #184B5A;
    font-size: 1.8em; }
  #TeamMembers > .container .card-link > .card-body > .card-text {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.3em; }
  #TeamMembers > .container .card-link > .card-body > .card-button {
    margin-top: 32px; }
    #TeamMembers > .container .card-link > .card-body > .card-button > .btn {
      color: #fff;
      background-color: #eee;
      padding-left: 2em;
      padding-right: 2em;
      -webkit-border-radius: 50px;
      border-radius: 50px; }
  #TeamMembers > .container .card-link:hover {
    color: #184B5A;
    transform: scale(1.2);
    z-index: 1; }
    #TeamMembers > .container .card-link:hover > .overly-image > img {
      opacity: 0; }
    #TeamMembers > .container .card-link:hover > .card-body > .card-button {
      margin-top: 32px; }
      #TeamMembers > .container .card-link:hover > .card-body > .card-button > .btn {
        background-color: #184B5A; }
  #TeamMembers > .container .card-link:hover .overly-image-hover {
    opacity: 1; }

#CaseStudies {
  background-image: url(../images/Home/rocket.png), url(../images/happy-bkg.jpg);
  background-position: 75% 80%, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: 450px, 100%; }
  #CaseStudies > .row > .col-md-6 {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 3rem;
    margin-top: 3rem; }
    #CaseStudies > .row > .col-md-6 > p, #CaseStudies > .row > .col-md-6 > h3 {
      margin-left: 10%;
      margin-right: 10%;
      font-weight: 300; }
    #CaseStudies > .row > .col-md-6 > p {
      font-size: 1.2em; }
    #CaseStudies > .row > .col-md-6 > h3 {
      font-size: 2em; }
    #CaseStudies > .row > .col-md-6.has-hilight > .hilight {
      -webkit-box-shadow: 0 0 41px 4px rgba(0, 0, 0, 0.13);
      -moz-box-shadow: 0 0 41px 4px rgba(0, 0, 0, 0.13);
      -ms-box-shadow: 0 0 41px 4px rgba(0, 0, 0, 0.13);
      -o-box-shadow: 0 0 41px 4px rgba(0, 0, 0, 0.13);
      box-shadow: 0 0 41px 4px rgba(0, 0, 0, 0.13);
      background-color: #184B5A;
      color: #fff;
      text-align: right;
      padding: 64px 64px 64px 25%;
      margin-right: 8%;
      -webkit-border-top-right-radius: 70px;
      -webkit-border-bottom-right-radius: 5px;
      -moz-border-radius-topright: 70px;
      -moz-border-radius-bottomright: 5px;
      border-top-right-radius: 70px;
      border-bottom-right-radius: 5px; }
      #CaseStudies > .row > .col-md-6.has-hilight > .hilight > img.rounded-circle {
        max-width: 100px;
        margin-bottom: 32px; }
      #CaseStudies > .row > .col-md-6.has-hilight > .hilight > .blockquote > p {
        font-size: 1.1em;
        font-weight: 300;
        font-style: italic; }
      #CaseStudies > .row > .col-md-6.has-hilight > .hilight > .blockquote > .blockquote-footer {
        font-size: 0.8em; }
        #CaseStudies > .row > .col-md-6.has-hilight > .hilight > .blockquote > .blockquote-footer strong {
          font-weight: 700; }
        #CaseStudies > .row > .col-md-6.has-hilight > .hilight > .blockquote > .blockquote-footer > cite {
          font-style: normal; }
      #CaseStudies > .row > .col-md-6.has-hilight > .hilight.hilight-light {
        background-color: #efefef;
        color: #6e6e6e;
        text-align: left;
        padding: 64px 25% 64px 64px;
        margin-left: 8%;
        margin-right: 0;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        -webkit-border-top-left-radius: 70px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 70px;
        -moz-border-radius-bottomleft: 5px;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 5px; }
      #CaseStudies > .row > .col-md-6.has-hilight > .hilight.hilight-grey {
        background: #cdcdcd;
        color: #6e6e6e; }
  #CaseStudies > #Benefits {
    margin-top: 128px; }
    #CaseStudies > #Benefits .benefit-icon {
      -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.13);
      -moz-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.13);
      -ms-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.13);
      -o-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.13);
      box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.13);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 5px;
      min-height: 150px;
      height: 100%;
      display: block;
      min-height: 245px;
      align-items: center !important;
      justify-content: center !important; }
      #CaseStudies > #Benefits .benefit-icon > .img-icon {
        max-width: 80px; }
      #CaseStudies > #Benefits .benefit-icon > h4 {
        font-size: 1.4em;
        margin: 23px;
        color: #184B5A;
        font-weight: 400; }

#Capabilities {
  background-image: url(../images/happy-bkg.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 64px;
  padding-bottom: 64px; }
  #Capabilities p {
    font-size: 1.3em;
    font-weight: 300;
    font-weight: 300; }
  #Capabilities .section-title {
    font-size: 2.2em;
    margin-bottom: 32px;
    font-weight: 300; }
  #Capabilities .blockquote {
    font-style: italic; }
    #Capabilities .blockquote p {
      font-size: 1em; }

#OurOffer > .container {
  padding-top: 64px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 41px 4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 0 41px 4px rgba(0, 0, 0, 0.13);
  -ms-box-shadow: 0 0 41px 4px rgba(0, 0, 0, 0.13);
  -o-box-shadow: 0 0 41px 4px rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 41px 4px rgba(0, 0, 0, 0.13);
  background-color: #fff; }
  #OurOffer > .container .subtitle {
    font-weight: 1.25em; }
  #OurOffer > .container .section-title {
    font-weight: 38px; }
  #OurOffer > .container ul.list-unstyled {
    list-style: none;
    font-size: 1.3 em; }
    #OurOffer > .container ul.list-unstyled > li:before {
      content: '\2714';
      display: inline-block;
      vertical-align: middle;
      line-height: 1em;
      width: 1em;
      height: 1em;
      margin-right: 0.8em;
      text-align: center;
      color: #ff715a; }
  #OurOffer > .container .col-banner {
    background-color: #184B5A;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    padding: 42px 64px; }
    #OurOffer > .container .col-banner h3, #OurOffer > .container .col-banner h4 {
      margin: 0;
      padding: 0; }
    #OurOffer > .container .col-banner h3 {
      font-size: 36px; }
    #OurOffer > .container .col-banner h4 {
      font-size: 24px; }
    #OurOffer > .container .col-banner .btn {
      background-color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0.8rem 2.5rem; }
      #OurOffer > .container .col-banner .btn:hover {
        background-color: #ff715a;
        color: #fff; }

/*# sourceMappingURL=home.css.map */
