@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.otf") format("opentype");
  font-weight: 700; }
@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.otf") format("opentype"); }
@font-face {
  font-family: 'Gotham-BookItalic';
  src: url("../fonts/Gotham-BookItalic.woff") format("woff"), url("../fonts/Gotham-BookItalic.otf") format("opentype");
  font-style: italic; }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.otf") format("opentype");
  font-weight: 400; }
@font-face {
  font-family: 'Gotham-Light';
  src: url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.otf") format("opentype");
  font-weight: 300; }
.no-margin {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.clear-gap {
  margin: 0px !important;
  padding: 0px !important;
  outline: none !important;
  border: none !important; }

.v-line {
  margin: 0px;
  background-color: #ff715a;
  width: 3px;
  height: 100%; }
  @media screen and (max-width: 991px) {
    .v-line {
      display: none; } }

@media screen and (max-width: 991px) {
  .brand-wrapper {
    display: none !important;
    text-align: center; } }

.brand-number {
  margin: 0px;
  margin-top: -10px;
  color: #ff715a;
  font-size: 28px;
  font-weight: 400; }
  @media screen and (max-width: 991px) {
    .brand-number {
      text-decoration: underline;
      font-size: 32px; } }

.press_kit_header {
  background-image: linear-gradient(rgba(32, 100, 119, 0.85), rgba(32, 100, 119, 0.85)), url("../images/Press Kit/header-bg.png");
  background-position: center;
  background-size: cover; }
  .press_kit_header__container h1 {
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: white;
    padding: 15vh 0; }
    @media screen and (max-width: 767px) {
      .press_kit_header__container h1 {
        padding: 10vh 0; } }

.brand-personality {
  margin: 50px 0px; }
  @media screen and (max-width: 992px) {
    .brand-personality {
      text-align: center; } }
  .brand-personality h2 {
    color: #206477;
    font-size: 28px;
    font-weight: 700;
    margin: 0px; }
    @media screen and (max-width: 767px) {
      .brand-personality h2 {
        font-size: 32px;
        margin: 15px; } }
    @media screen and (max-width: 475px) {
      .brand-personality h2 {
        text-align: center; } }
  .brand-personality p {
    color: #6e6e6e;
    font-size: 16px;
    margin: 0px 0px 20px 0px;
    font-weight: 400; }
    @media screen and (max-width: 767px) {
      .brand-personality p {
        font-size: 14px; } }
    @media screen and (max-width: 475px) {
      .brand-personality p {
        text-align: center; } }
  .brand-personality span {
    color: #6e6e6e;
    font-size: 20px;
    margin: 0px;
    font-weight: 400; }
    @media screen and (max-width: 767px) {
      .brand-personality span {
        font-size: 16px; } }
    @media screen and (max-width: 475px) {
      .brand-personality span {
        text-align: center;
        display: flex; } }

.brand-resources .brand-resources-header {
  text-align: left; }
  @media screen and (max-width: 992px) {
    .brand-resources .brand-resources-header {
      text-align: center; } }
  .brand-resources .brand-resources-header h2 {
    color: #206477;
    font-size: 28px;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 25px; }
    @media screen and (max-width: 767px) {
      .brand-resources .brand-resources-header h2 {
        font-size: 32px;
        margin: 15px; } }
    @media screen and (max-width: 475px) {
      .brand-resources .brand-resources-header h2 {
        text-align: center; } }
.brand-resources .brand-resources-logo {
  margin: 50px 0px; }
  @media screen and (max-width: 991px) {
    .brand-resources .brand-resources-logo {
      margin: 0; } }
  .brand-resources .brand-resources-logo .brand-logo-title h2 {
    margin-top: -10px;
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #6e6e6e; }
    @media screen and (max-width: 991px) {
      .brand-resources .brand-resources-logo .brand-logo-title h2 {
        text-align: center;
        margin: 20px 0px; } }
    @media screen and (max-width: 767px) {
      .brand-resources .brand-resources-logo .brand-logo-title h2 {
        font-size: 1.4rem;
        font-weight: 700; } }
  .brand-resources .brand-resources-logo .brand-logo-items figure {
    margin: 0px; }
    @media screen and (max-width: 992px) {
      .brand-resources .brand-resources-logo .brand-logo-items figure {
        margin: 15px 0px; } }
    .brand-resources .brand-resources-logo .brand-logo-items figure img {
      -webkit-box-shadow: 0 0 7px 0 #6e6e6e;
      -moz-box-shadow: 0 0 7px 0 #6e6e6e;
      -ms-box-shadow: 0 0 7px 0 #6e6e6e;
      -o-box-shadow: 0 0 7px 0 #6e6e6e;
      box-shadow: 0 0 7px 0 #6e6e6e;
      border-radius: .5rem;
      width: 100%; }
      @media screen and (max-width: 992px) {
        .brand-resources .brand-resources-logo .brand-logo-items figure img {
          border-radius: 0;
          -webkit-box-shadow: 0 0 41px 0 rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0 0 41px 0 rgba(0, 0, 0, 0.2);
          -ms-box-shadow: 0 0 41px 0 rgba(0, 0, 0, 0.2);
          -o-box-shadow: 0 0 41px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 41px 0 rgba(0, 0, 0, 0.2); } }
.brand-resources .brand-resources-palette {
  margin: 50px 0px; }
  .brand-resources .brand-resources-palette .brand-palette-title h2 {
    margin-top: -10px;
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #6e6e6e; }
    @media screen and (max-width: 991px) {
      .brand-resources .brand-resources-palette .brand-palette-title h2 {
        text-align: center;
        margin: 20px 0px; } }
    @media screen and (max-width: 767px) {
      .brand-resources .brand-resources-palette .brand-palette-title h2 {
        font-size: 1.2rem; } }
  .brand-resources .brand-resources-palette .brand-palette-items > .pallete {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center; }
    .brand-resources .brand-resources-palette .brand-palette-items > .pallete h6 {
      font-size: 0.7em;
      text-transform: uppercase; }
      @media screen and (max-width: 580px) {
        .brand-resources .brand-resources-palette .brand-palette-items > .pallete h6 {
          font-size: 0.6em; } }
    .brand-resources .brand-resources-palette .brand-palette-items > .pallete code {
      font-size: 1.3em; }
      @media screen and (max-width: 580px) {
        .brand-resources .brand-resources-palette .brand-palette-items > .pallete code {
          font-size: 1.2em; } }
    .brand-resources .brand-resources-palette .brand-palette-items > .pallete.navy-blue {
      background: #206477;
      color: #fff; }
    .brand-resources .brand-resources-palette .brand-palette-items > .pallete.dark-blue {
      background: #184B5A;
      color: #fff; }
    .brand-resources .brand-resources-palette .brand-palette-items > .pallete.extremely-dark-blue {
      background: #2F3844;
      color: #fff; }
    .brand-resources .brand-resources-palette .brand-palette-items > .pallete.teal-green {
      background: #2CC4A7;
      color: #fff; }
    .brand-resources .brand-resources-palette .brand-palette-items > .pallete.pastel-yellow {
      background: #FFC45A;
      color: #fff; }
    .brand-resources .brand-resources-palette .brand-palette-items > .pallete.salmon-red {
      background: #FF715A;
      color: #fff; }
    .brand-resources .brand-resources-palette .brand-palette-items > .pallete.dark-grey {
      background: #6E6E6E;
      color: #fff; }
    .brand-resources .brand-resources-palette .brand-palette-items > .pallete.grey {
      background: #CDCDCD;
      color: #6E6E6E; }
    .brand-resources .brand-resources-palette .brand-palette-items > .pallete.light-grey {
      background: #EFEFEF;
      color: #6E6E6E; }
.brand-resources .brand-resources-fonts {
  margin: 50px 0px; }
  .brand-resources .brand-resources-fonts .brand-fonts .roboto {
    font-family: "Roboto", sans-serif; }
    .brand-resources .brand-resources-fonts .brand-fonts .roboto.light {
      font-weight: 300; }
    .brand-resources .brand-resources-fonts .brand-fonts .roboto.light-italic {
      font-weight: 300;
      font-style: italic; }
    .brand-resources .brand-resources-fonts .brand-fonts .roboto.regular {
      font-weight: 400; }
    .brand-resources .brand-resources-fonts .brand-fonts .roboto.italic {
      font-weight: 400;
      font-style: italic; }
    .brand-resources .brand-resources-fonts .brand-fonts .roboto.medium {
      font-weight: 500; }
    .brand-resources .brand-resources-fonts .brand-fonts .roboto.italic {
      font-weight: 500;
      font-style: italic; }
    .brand-resources .brand-resources-fonts .brand-fonts .roboto.bold {
      font-weight: 700; }
    .brand-resources .brand-resources-fonts .brand-fonts .roboto.bold-italic {
      font-weight: 700;
      font-style: italic; }
  .brand-resources .brand-resources-fonts .brand-fonts-title h2 {
    margin-top: -10px;
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #6e6e6e; }
    @media screen and (max-width: 991px) {
      .brand-resources .brand-resources-fonts .brand-fonts-title h2 {
        text-align: center;
        margin: 20px 0px; } }
    @media screen and (max-width: 767px) {
      .brand-resources .brand-resources-fonts .brand-fonts-title h2 {
        font-size: 1.2rem; } }
  .brand-resources .brand-resources-fonts .brand-fonts-title p {
    font-size: 16px;
    color: #206477;
    margin-bottom: 50px; }
    @media screen and (max-width: 991px) {
      .brand-resources .brand-resources-fonts .brand-fonts-title p {
        text-align: center; } }
  .brand-resources .brand-resources-fonts .fonts-item {
    text-transform: uppercase;
    margin-bottom: 20px; }
    @media screen and (max-width: 991px) {
      .brand-resources .brand-resources-fonts .fonts-item {
        text-align: center; } }
    .brand-resources .brand-resources-fonts .fonts-item .font-name {
      color: #2F3844;
      margin-bottom: 5px;
      font-size: 2rem; }
    .brand-resources .brand-resources-fonts .fonts-item .font-weight {
      color: #2F3844;
      font-size: 1.1rem; }
.brand-resources .brand-resources-products {
  margin: 50px 0px; }
  .brand-resources .brand-resources-products .brand-products-title h2 {
    margin-top: -10px;
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #6e6e6e; }
    @media screen and (max-width: 991px) {
      .brand-resources .brand-resources-products .brand-products-title h2 {
        text-align: center;
        margin: 20px 0px; } }
    @media screen and (max-width: 767px) {
      .brand-resources .brand-resources-products .brand-products-title h2 {
        font-size: 1.2rem; } }
  .brand-resources .brand-resources-products .brand-products-title p {
    font-size: 16px;
    color: #206477;
    margin-bottom: 50px; }
    @media screen and (max-width: 991px) {
      .brand-resources .brand-resources-products .brand-products-title p {
        text-align: center; } }
  .brand-resources .brand-resources-products .brand-products-items figure {
    border-radius: .5rem;
    padding: 5% 0;
    background: #EFEFEF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .brand-resources .brand-resources-products .brand-products-items figure img {
      width: 90%; }
    .brand-resources .brand-resources-products .brand-products-items figure button {
      border: none;
      background: white;
      box-shadow: 0px 0px 10px #bcbcbc;
      font-size: 22px;
      text-transform: uppercase;
      color: #6E6E6E;
      height: 60px;
      margin-top: 50px;
      width: 90%; }
      @media screen and (max-width: 767px) {
        .brand-resources .brand-resources-products .brand-products-items figure button {
          height: 40px;
          font-size: 14px; } }

/*# sourceMappingURL=press_kit.css.map */
