@media all and (min-width: 992px) {
  .mobile {
    display: none !important; } }
@media all and (max-width: 992px) {
  .section-title {
    font-size: 2em; }

  .desktop {
    display: none !important; }

  #Header .navbar-toggler {
    display: inline-block !important; }
    #Header .navbar-toggler + div {
      display: none !important; }
  #Header .logo > a > img {
    margin-top: -10px;
    max-width: 200px; }
    #Header .logo > a > img.logo-mobile {
      display: block !important; }
      #Header .logo > a > img.logo-mobile + img {
        display: none; }
  #Header > .header-sticky.fixed, #Header > .header-sticky-white.fixed {
    padding: 10px 15px; }

  #Home {
    min-height: 900px;
    background-size: cover;
    background-position: 65%; }
    #Home > .container #Donna {
      min-height: 880px;
      -ms-align-items: flex-start !important;
      align-items: flex-start !important;
      text-align: center; }
      #Home > .container #Donna > .donna-intro {
        flex: 0 0 100%;
        margin-top: 115px; }
        #Home > .container #Donna > .donna-intro > h2, #Home > .container #Donna > .donna-intro > h4 {
          color: #fff;
          text-shadow: none; }
        #Home > .container #Donna > .donna-intro > h4 {
          font-size: 1.7em; }
      #Home > .container #Donna > .mobile-button {
        -ms-flex-item-align: end !important;
        align-self: flex-end !important; }
        #Home > .container #Donna > .mobile-button .btn {
          width: 100%;
          max-width: 100%; } }
@media all and (min-width: 768px) {
  #HappyCustomers .image-container + .image-container {
    border-left: 1px solid #ccc; } }
@media all and (max-width: 768px) {
  #Header > #MainMenu {
    padding: 0 15px;
    padding-top: 5px;
    margin: 0 auto; }
    #Header > #MainMenu .logo > a > img {
      max-width: 150px;
      margin-top: 8px; }
  #Header > .header-sticky > .container, #Header > .header-sticky-white > .container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 10px; }

  #Home {
    min-height: inherit;
    margin-bottom: 128px; }
    #Home > .container #Donna {
      min-height: 600px; }
      #Home > .container #Donna > .donna-intro {
        margin-top: 70px; }
        #Home > .container #Donna > .donna-intro > h2 {
          font-size: 3em; }
        #Home > .container #Donna > .donna-intro > h4 {
          font-size: 1.5em; }
      #Home > .container #Donna > .mobile-button {
        margin-bottom: -42px; }

  #TeamMembers > .container .card-link:hover, #TeamMembers > .container .card-link:focus {
    transform: scale(1); } }
@media screen and (max-width: 575px) {
  .carecru-pagination .page-link {
    font-size: .7rem;
    padding: .3rem .45rem; } }

/*# sourceMappingURL=responsive.css.map */
