@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.otf") format("opentype");
  font-weight: 700; }
@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.otf") format("opentype"); }
@font-face {
  font-family: 'Gotham-BookItalic';
  src: url("../fonts/Gotham-BookItalic.woff") format("woff"), url("../fonts/Gotham-BookItalic.otf") format("opentype");
  font-style: italic; }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.otf") format("opentype");
  font-weight: 400; }
@font-face {
  font-family: 'Gotham-Light';
  src: url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.otf") format("opentype");
  font-weight: 300; }
html, body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  color: #333; }

body.has-popup {
  overflow: hidden; }

a {
  text-decoration: none;
  font-weight: 300;
  color: #184B5A; }
  a:link, a:visited, a:active {
    color: #184B5A; }
  a:hover {
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 600; }
  h1 strong, h1 b, h2 strong, h2 b, h3 strong, h3 b, h4 strong, h4 b, h5 strong, h5 b, h6 strong, h6 b {
    font-weight: 900; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.3em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.8em; }

h6 {
  font-size: 0.5em; }

/**
 * Main Menu
 **/
#MainMenu {
  display: block;
  margin: 32px auto;
  width: 100%;
  position: relative;
  font-size: 1.2em;
  /**
   * Standard Header
  **/
  /**
   * Sticky Header
  **/ }
  @media screen and (max-width: 1366px) and (min-width: 1200px) {
    #MainMenu > .container {
      padding: 0 32px; } }
  #MainMenu > .container .row > .logo, #MainMenu > .container .row > .navbar {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    max-height: 80px; }
  #MainMenu > .container .row > .logo {
    font-size: 1.5em; }
    #MainMenu > .container .row > .logo > a > img {
      margin-top: 0;
      max-width: 250px; }
  #MainMenu > .container .row > .navbar {
    text-align: right; }
    #MainMenu > .container .row > .navbar > .navbar-toggler {
      display: none;
      width: 38px;
      height: 32px;
      vertical-align: middle;
      margin-top: 5px;
      background: transparent;
      border: none; }
      #MainMenu > .container .row > .navbar > .navbar-toggler > .navbar-toggler-icon {
        display: block;
        background-color: #6e6e6e;
        width: 100%;
        height: 3px !important;
        border: none;
        float: right; }
        #MainMenu > .container .row > .navbar > .navbar-toggler > .navbar-toggler-icon + .navbar-toggler-icon {
          margin-top: 3px; }
        #MainMenu > .container .row > .navbar > .navbar-toggler > .navbar-toggler-icon:nth-child(2) {
          width: 80%; }
        #MainMenu > .container .row > .navbar > .navbar-toggler > .navbar-toggler-icon:nth-child(3) {
          width: 90%; }
    #MainMenu > .container .row > .navbar > div > .navbar-menu {
      list-style: none;
      padding: 0;
      margin: 0; }
      #MainMenu > .container .row > .navbar > div > .navbar-menu > li {
        display: inline-block;
        position: relative;
        padding: 5px 0; }
        #MainMenu > .container .row > .navbar > div > .navbar-menu > li > a {
          display: block;
          line-height: 1.2em;
          font-size: 16px;
          padding: 8px 24px;
          color: #a1a1a1;
          text-decoration: none;
          font-weight: 300; }
          @media screen and (max-width: 1200px) {
            #MainMenu > .container .row > .navbar > div > .navbar-menu > li > a {
              padding: 8px 15px; } }
          #MainMenu > .container .row > .navbar > div > .navbar-menu > li > a:link, #MainMenu > .container .row > .navbar > div > .navbar-menu > li > a:visited, #MainMenu > .container .row > .navbar > div > .navbar-menu > li > a:active {
            color: #a1a1a1; }
        #MainMenu > .container .row > .navbar > div > .navbar-menu > li.active > a, #MainMenu > .container .row > .navbar > div > .navbar-menu > li.current_page_item > a {
          color: #6e6e6e;
          font-weight: bold;
          text-decoration: none; }
        #MainMenu > .container .row > .navbar > div > .navbar-menu > li:hover > a {
          color: #184B5A;
          text-decoration: none; }
        #MainMenu > .container .row > .navbar > div > .navbar-menu > li > .sub-menu {
          display: none;
          background-color: #fff; }
          #MainMenu > .container .row > .navbar > div > .navbar-menu > li > .sub-menu > li {
            display: block;
            position: relative;
            width: 100%; }
            #MainMenu > .container .row > .navbar > div > .navbar-menu > li > .sub-menu > li > a {
              display: block;
              line-height: 1.2em;
              padding: 15px 15px;
              color: #7e7e7e;
              text-decoration: none; }
              #MainMenu > .container .row > .navbar > div > .navbar-menu > li > .sub-menu > li > a:link, #MainMenu > .container .row > .navbar > div > .navbar-menu > li > .sub-menu > li > a:visited, #MainMenu > .container .row > .navbar > div > .navbar-menu > li > .sub-menu > li > a:active {
                color: #7e7e7e; }
            #MainMenu > .container .row > .navbar > div > .navbar-menu > li > .sub-menu > li.active > a {
              color: #6e6e6e;
              font-weight: bold; }
            #MainMenu > .container .row > .navbar > div > .navbar-menu > li > .sub-menu > li:hover > a {
              color: #6e6e6e; }
        #MainMenu > .container .row > .navbar > div > .navbar-menu > li:hover > .sub-menu, #MainMenu > .container .row > .navbar > div > .navbar-menu > li:focus > .sub-menu {
          display: block;
          position: absolute;
          z-index: 1;
          top: 100%;
          left: 50%;
          right: auto;
          -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
          width: 200px;
          list-style: none;
          padding: 15px 15px;
          margin: 0;
          text-align: left;
          border-bottom: #184B5A 5px solid;
          -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 40px, rgba(255, 255, 255, 0.3) 0 0 40px;
          -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 40px, rgba(255, 255, 255, 0.3) 0 0 40px;
          -ms-box-shadow: rgba(0, 0, 0, 0.1) 0 0 40px, rgba(255, 255, 255, 0.3) 0 0 40px;
          box-shadow: rgba(0, 0, 0, 0.1) 0 0 40px, rgba(255, 255, 255, 0.3) 0 0 40px; }
          #MainMenu > .container .row > .navbar > div > .navbar-menu > li:hover > .sub-menu:before, #MainMenu > .container .row > .navbar > div > .navbar-menu > li:focus > .sub-menu:before {
            content: "";
            position: absolute;
            z-index: 1;
            top: -12px;
            width: 0;
            left: 50%;
            right: auto;
            transform: translate(-50%, 0);
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid #fff; }
      #MainMenu > .container .row > .navbar > div > .navbar-menu > li.menu-item-button {
        position: relative; }
        #MainMenu > .container .row > .navbar > div > .navbar-menu > li.menu-item-button > #get-a-price {
          padding-top: 0.8em;
          padding-bottom: 0.8em;
          font-weight: 400;
          text-transform: uppercase;
          /*background:$orange;
          color:#fff;
          
          -webkit-border-radius:50px;
          border-radius:50px;
          
          padding:15px 32px;
          
          &:hover{
          	background:$orange-hover;
          }*/ }
          @media screen and (max-width: 1200px) {
            #MainMenu > .container .row > .navbar > div > .navbar-menu > li.menu-item-button > #get-a-price {
              padding: 8px 24px; } }
  #MainMenu.header-standard {
    -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 0px !important; }
  #MainMenu.header-sticky, #MainMenu.header-sticky-white {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    padding-left: 15px;
    padding-right: 15px; }
    @media screen and (max-width: 1200px) {
      #MainMenu.header-sticky, #MainMenu.header-sticky-white {
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (max-width: 992px) {
      #MainMenu.header-sticky, #MainMenu.header-sticky-white {
        padding-left: 15px;
        padding-right: 15px; } }
    @media screen and (max-width: 1200px) {
      #MainMenu.header-sticky > .container, #MainMenu.header-sticky-white > .container {
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (max-width: 992px) {
      #MainMenu.header-sticky > .container, #MainMenu.header-sticky-white > .container {
        padding-left: 15px;
        padding-right: 15px; } }
    #MainMenu.header-sticky > .container .row > .logo > a, #MainMenu.header-sticky-white > .container .row > .logo > a {
      color: #dedede; }
      #MainMenu.header-sticky > .container .row > .logo > a:hover, #MainMenu.header-sticky-white > .container .row > .logo > a:hover {
        color: #fff; }
      #MainMenu.header-sticky > .container .row > .logo > a > img.logo-mobile, #MainMenu.header-sticky-white > .container .row > .logo > a > img.logo-mobile {
        display: none; }
    #MainMenu.header-sticky > .container .row > .navbar > .navbar-toggler > .navbar-toggler-icon, #MainMenu.header-sticky-white > .container .row > .navbar > .navbar-toggler > .navbar-toggler-icon {
      background-color: #fff; }
    #MainMenu.header-sticky > .container .row > .navbar > div > .navbar-menu > li > a, #MainMenu.header-sticky-white > .container .row > .navbar > div > .navbar-menu > li > a {
      color: #cdcdcd; }
      #MainMenu.header-sticky > .container .row > .navbar > div > .navbar-menu > li > a:link, #MainMenu.header-sticky > .container .row > .navbar > div > .navbar-menu > li > a:visited, #MainMenu.header-sticky > .container .row > .navbar > div > .navbar-menu > li > a:active, #MainMenu.header-sticky-white > .container .row > .navbar > div > .navbar-menu > li > a:link, #MainMenu.header-sticky-white > .container .row > .navbar > div > .navbar-menu > li > a:visited, #MainMenu.header-sticky-white > .container .row > .navbar > div > .navbar-menu > li > a:active {
        color: #cdcdcd; }
    #MainMenu.header-sticky > .container .row > .navbar > div > .navbar-menu > li.active > a, #MainMenu.header-sticky > .container .row > .navbar > div > .navbar-menu > li.current_page_item > a, #MainMenu.header-sticky > .container .row > .navbar > div > .navbar-menu > li:hover > a, #MainMenu.header-sticky-white > .container .row > .navbar > div > .navbar-menu > li.active > a, #MainMenu.header-sticky-white > .container .row > .navbar > div > .navbar-menu > li.current_page_item > a, #MainMenu.header-sticky-white > .container .row > .navbar > div > .navbar-menu > li:hover > a {
      color: #fff; }
    #MainMenu.header-sticky.fixed, #MainMenu.header-sticky-white.fixed {
      background-color: #184B5A;
      margin: 0 auto;
      -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
      padding-bottom: 15px;
      padding-top: 15px; }
      #MainMenu.header-sticky.fixed .row > .navbar > .navbar-toggler > .navbar-toggler-icon, #MainMenu.header-sticky-white.fixed .row > .navbar > .navbar-toggler > .navbar-toggler-icon {
        background-color: #f1f1f1 !important;
        opacity: 0.8; }
        #MainMenu.header-sticky.fixed .row > .navbar > .navbar-toggler > .navbar-toggler-icon:hover, #MainMenu.header-sticky-white.fixed .row > .navbar > .navbar-toggler > .navbar-toggler-icon:hover {
          opacity: 1; }
      #MainMenu.header-sticky.fixed .row > .navbar > div > .navbar-menu > li > a, #MainMenu.header-sticky-white.fixed .row > .navbar > div > .navbar-menu > li > a {
        color: #cdcdcd; }
        #MainMenu.header-sticky.fixed .row > .navbar > div > .navbar-menu > li > a:link, #MainMenu.header-sticky.fixed .row > .navbar > div > .navbar-menu > li > a:visited, #MainMenu.header-sticky.fixed .row > .navbar > div > .navbar-menu > li > a:active, #MainMenu.header-sticky-white.fixed .row > .navbar > div > .navbar-menu > li > a:link, #MainMenu.header-sticky-white.fixed .row > .navbar > div > .navbar-menu > li > a:visited, #MainMenu.header-sticky-white.fixed .row > .navbar > div > .navbar-menu > li > a:active {
          color: #fff; }
      #MainMenu.header-sticky.fixed .row > .navbar > div > .navbar-menu > li.active > a, #MainMenu.header-sticky.fixed .row > .navbar > div > .navbar-menu > li.current_page_item > a, #MainMenu.header-sticky.fixed .row > .navbar > div > .navbar-menu > li:hover > a, #MainMenu.header-sticky-white.fixed .row > .navbar > div > .navbar-menu > li.active > a, #MainMenu.header-sticky-white.fixed .row > .navbar > div > .navbar-menu > li.current_page_item > a, #MainMenu.header-sticky-white.fixed .row > .navbar > div > .navbar-menu > li:hover > a {
        color: #fff; }

/**
 * MOBILE MENU
**/
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 90000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .mobile-menu > .mobile-menu-header {
    margin: 20px 5%; }
    .mobile-menu > .mobile-menu-header > img {
      max-width: 180px; }
    .mobile-menu > .mobile-menu-header > #MobileMenuClose {
      background: transparent;
      border: none;
      float: right;
      font-size: 1.5em;
      color: #ff715a; }
      .mobile-menu > .mobile-menu-header > #MobileMenuClose:hover {
        color: #f9482b; }
  .mobile-menu > .mobile-menu-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%; }
    .mobile-menu > .mobile-menu-container ul {
      list-style: none;
      padding: 0;
      text-align: center; }
      .mobile-menu > .mobile-menu-container ul > li {
        font-size: 30px; }
        .mobile-menu > .mobile-menu-container ul > li + li {
          margin-top: 15px; }
        .mobile-menu > .mobile-menu-container ul > li > a {
          color: #6e6e6e;
          font-weight: 400; }
          .mobile-menu > .mobile-menu-container ul > li > a:hover, .mobile-menu > .mobile-menu-container ul > li > a:active {
            color: #184B5A; }

/**
 * Sticky Header Admin Bar Fix
**/
body.admin-bar .mobile-menu, body.admin-bar .header-sticky, body.admin-bar .header-sticky-white {
  top: 32px !important; }
body.elementor-editor-active .header-sticky, body.elementor-editor-active .header-sticky-white {
  display: none !important; }

/*
* Single Page
*/
#SinglePage > .container {
  margin-top: 64px;
  margin-bottom: 64px;
  font-size: 0.8em; }
  #SinglePage > .container > .row > h1 {
    font-weight: 300;
    margin: 0;
    padding: 0 0 10px 0;
    line-height: normal; }
  #SinglePage > .container > .row > .modified-date {
    text-align: right;
    padding-bottom: 10px; }

#BlogPosts,
#SearchPage {
  background-image: url(../images/blog.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: -45px !important;
  padding-bottom: 45px; }

/*
* Blog Submenu
*/
.blog-submenu {
  list-style: none;
  padding: 0;
  margin: 32px auto 48px auto;
  display: table;
  text-align: center; }
  @media screen and (max-width: 992px) {
    .blog-submenu {
      margin: 0 auto 15px auto;
      padding: 10px 0 15px 0;
      border-bottom: 2px solid #efefef;
      overflow-x: auto;
      white-space: nowrap;
      max-width: 100%;
      display: block; } }
  .blog-submenu > li {
    display: inline-block;
    border-bottom: 3px solid transparent; }
    @media screen and (max-width: 768px) {
      .blog-submenu > li {
        margin-top: 15px; } }
    .blog-submenu > li > a {
      color: #6e6e6e;
      padding: 3px 10px;
      font-weight: 400; }
      .blog-submenu > li > a:hover {
        text-decoration: none; }
    .blog-submenu > li:hover {
      border-color: #6e6e6e; }
    .blog-submenu > li.active, .blog-submenu > li.active:hover {
      border-color: #184B5A; }
      .blog-submenu > li.active > a, .blog-submenu > li.active:hover > a {
        font-weight: 700; }
    .blog-submenu > li + li {
      margin-left: 15px; }

/*
 * Article List
*/
article.article > .card {
  -webkit-box-shadow: 0 0 41px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 41px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 41px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 41px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 41px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #6e6e6e; }
  article.article > .card:hover, article.article > .card:focus {
    color: #6e6e6e;
    text-decoration: none; }
  article.article > .card h3 {
    color: #184B5A; }
  article.article > .card a {
    color: #6e6e6e;
    text-decoration: none; }
    article.article > .card a > h3 {
      color: #184B5A;
      text-decoration: none; }
  article.article > .card figure.thumbnail {
    display: block;
    position: relative;
    overflow: hidden;
    min-height: 150px;
    width: 100%;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    article.article > .card figure.thumbnail img {
      position: absolute;
      width: auto;
      max-width: inherit;
      height: 100%;
      max-height: 100%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      zoom: 1;
      z-index: 1; }
    @media all and (max-width: 768px) {
      article.article > .card figure.thumbnail {
        overflow: inherit;
        min-height: auto; }
        article.article > .card figure.thumbnail img {
          position: inherit;
          width: 100%;
          max-width: 100%;
          height: auto;
          max-height: inherit;
          top: inherit;
          left: inherit;
          -webkit-transform: inherit;
          -moz-transform: inherit;
          transform: inherit; } }

/*
 * Category Blog menu
*/
.category-menu {
  list-style: none;
  padding: 0;
  margin: 32px auto;
  display: block;
  text-align: left;
  width: 100%; }
  .category-menu > li {
    display: block;
    width: 100%; }
    .category-menu > li > a {
      color: #6e6e6e;
      display: block;
      width: 100%;
      padding: 8px 15px 8px 5px;
      font-weight: 400; }
      .category-menu > li > a:hover {
        text-decoration: none;
        font-weight: 700; }
    .category-menu > li:hover {
      border-color: #6e6e6e; }
    .category-menu > li.active > a, .category-menu > li.active:hover > a {
      font-weight: 700; }

/*
 * Sticky Posts
*/
#StickyPosts .carousel-inner {
  -webkit-box-shadow: 0 0 41px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 41px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 41px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 41px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 41px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  #StickyPosts .carousel-inner .carousel-caption {
    color: #6e6e6e;
    font-weight: 700; }
    #StickyPosts .carousel-inner .carousel-caption h3 {
      font-size: 2.5em;
      font-weight: 700;
      margin-bottom: 0;
      color: #6e6e6e; }
      @media screen and (max-width: 768px) {
        #StickyPosts .carousel-inner .carousel-caption h3 {
          font-size: 1.8em; } }
    #StickyPosts .carousel-inner .carousel-caption .author {
      vertical-align: middle; }
      #StickyPosts .carousel-inner .carousel-caption .author > img {
        display: inline-block;
        margin-top: -3px;
        margin-right: 10px; }
    @media screen and (max-width: 580px) {
      #StickyPosts .carousel-inner .carousel-caption {
        top: 50%;
        right: auto;
        bottom: auto;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%); } }

/*
 * Single Posts
*/
@media all and (max-width: 992px) {
  #SinglePost .thumbnail {
    margin: 0;
    padding: 0; } }
@media screen and (max-width: 768px) {
  #SinglePost > .container {
    padding-right: 0;
    padding-left: 0; } }
#SinglePost h3 {
  color: #6e6e6e; }
#SinglePost h1 {
  font-size: 2.5em;
  color: #6e6e6e;
  font-weight: 700; }
  @media all and (max-width: 992px) {
    #SinglePost h1 {
      text-align: center; } }
#SinglePost .meta-container {
  margin-bottom: 32px; }
  #SinglePost .meta-container .breadcrumb {
    background-color: transparent;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 0;
    padding-right: 0;
    margin: 0; }
    #SinglePost .meta-container .breadcrumb a {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400; }
#SinglePost .meta {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #6e6e6e;
  text-align: right; }
  @media all and (max-width: 992px) {
    #SinglePost .meta {
      line-height: inherit;
      text-align: left;
      font-size: 11px;
      font-weight: 300px; }
      #SinglePost .meta + .meta {
        margin-left: 20px; } }
  #SinglePost .meta .fa,
  #SinglePost .meta .fas,
  #SinglePost .meta .far,
  #SinglePost .meta .fab {
    color: #184B5A;
    margin-right: 5px;
    display: inline-block; }
#SinglePost .tags a {
  display: inline-block;
  border: 1px solid #dedede;
  padding: 8px 15px;
  color: #6e6e6e; }
  #SinglePost .tags a:hover {
    font-weight: 400;
    text-decoration: none; }
  #SinglePost .tags a + a {
    margin-left: 10px; }
#SinglePost .pn a {
  display: inline-block;
  color: #6e6e6e;
  font-weight: 700;
  text-decoration: none; }
  #SinglePost .pn a .fa,
  #SinglePost .pn a .fas,
  #SinglePost .pn a .far,
  #SinglePost .pn a .fab {
    font-weight: 900; }
  #SinglePost .pn a:hover {
    color: #184B5A;
    text-decoration: none; }
    #SinglePost .pn a:hover .fa,
    #SinglePost .pn a:hover .fas,
    #SinglePost .pn a:hover .far,
    #SinglePost .pn a:hover .fab {
      font-weight: 900; }
@media screen and (max-width: 768px) {
  #SinglePost article.article {
    padding-right: 0;
    padding-left: 0; } }
#SinglePost article.article > .card {
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 0 transparent;
  -o-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: none; }
  #SinglePost article.article > .card a {
    text-decoration: none; }
    #SinglePost article.article > .card a:hover {
      text-decoration: none; }
  #SinglePost article.article > .card h3 {
    color: #6e6e6e;
    margin-bottom: 0; }
  #SinglePost article.article > .card img {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: inherit; }
    @media all and (max-width: 768px) {
      #SinglePost article.article > .card img {
        position: inherit;
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: inherit;
        top: inherit;
        left: inherit;
        -webkit-transform: inherit;
        -moz-transform: inherit;
        transform: inherit; } }
  #SinglePost article.article > .card .card-body {
    padding-left: 0;
    padding-right: 0; }
    @media screen and (max-width: 768px) {
      #SinglePost article.article > .card .card-body {
        padding-right: 15px;
        padding-left: 15px; } }
#SinglePost li.comment + li.comment {
  margin-top: 15px;
  border-top: 1px solid #ccc;
  padding-top: 15px; }

@media screen and (max-width: 992px) {
  .widget-area {
    margin-top: 15px; } }
.widget-area .widget ul {
  list-style: none;
  padding: 0;
  margin: 0 auto; }
  .widget-area .widget ul > li {
    display: block;
    background-color: #EFEFEF;
    color: #6e6e6e; }
    @media screen and (max-width: 992px) {
      .widget-area .widget ul > li {
        text-align: center; }
        .widget-area .widget ul > li:nth-child(even) {
          background-color: #f5f5f5; } }
    .widget-area .widget ul > li > a {
      display: block;
      font-weight: 400;
      line-height: normal;
      color: #6e6e6e;
      padding: 10px 15px; }
      .widget-area .widget ul > li > a:hover {
        text-decoration: none; }
    .widget-area .widget ul > li > .post-date {
      display: block;
      font-size: 0.7em;
      padding: 0 15px 10px 15px; }
    .widget-area .widget ul > li + li {
      margin-top: 10px; }
      @media screen and (max-width: 992px) {
        .widget-area .widget ul > li + li {
          margin-top: 1px; } }
    .widget-area .widget ul > li:hover {
      background-color: #184B5A;
      color: #fff; }
      .widget-area .widget ul > li:hover > a {
        color: #fff; }
.widget-area .widget > h4 {
  text-transform: uppercase;
  color: #6e6e6e;
  margin-bottom: 10px; }
  @media screen and (max-width: 992px) {
    .widget-area .widget > h4 {
      text-align: center; } }
.widget-area .widget + .widget {
  margin-top: 64px; }
  @media screen and (max-width: 992px) {
    .widget-area .widget + .widget {
      margin-top: 15px; } }

/**
 * 404
*/
#P404 h1 {
  font-size: 4em; }
#P404 h3 {
  font-size: 2em;
  line-height: normal; }
#P404 h4 {
  color: #CDCDCD; }
#P404 a {
  font-weight: 400; }

#FAQ {
  padding-top: 64px;
  background-image: url(../images/Home/pattern-footer.png);
  background-position: left 18%;
  background-repeat: repeat-x;
  background-size: auto; }
  #FAQ #AccordionFAQ {
    border: none; }
    #FAQ #AccordionFAQ .card {
      /*@include box-shadow(0,0,41px,4px,rgba(0,0,0,0.13));*/
      border: 1px solid rgba(0, 0, 0, 0.08); }
      #FAQ #AccordionFAQ .card .card-header {
        border: none;
        background: transparent; }
        #FAQ #AccordionFAQ .card .card-header [data-toggle="collapse"] {
          position: relative;
          border: none;
          display: block;
          width: 100%;
          text-align: left;
          color: #184B5A;
          padding-right: 24px;
          white-space: initial; }
          #FAQ #AccordionFAQ .card .card-header [data-toggle="collapse"].collapsed:after, #FAQ #AccordionFAQ .card .card-header [data-toggle="collapse"]:after {
            color: #184B5A;
            float: right;
            font-family: "Gotham-Bold", Arial, Helvetica, sans-serif;
            font-size: 22px;
            position: absolute;
            right: 0;
            top: 2px; }
          #FAQ #AccordionFAQ .card .card-header [data-toggle="collapse"]:after {
            content: "\2013"; }
          #FAQ #AccordionFAQ .card .card-header [data-toggle="collapse"].collapsed {
            color: #6e6e6e; }
            #FAQ #AccordionFAQ .card .card-header [data-toggle="collapse"].collapsed:after {
              content: "+"; }
          #FAQ #AccordionFAQ .card .card-header [data-toggle="collapse"]:hover {
            text-decoration: none;
            color: #184B5A; }
          #FAQ #AccordionFAQ .card .card-header [data-toggle="collapse"]:focus {
            text-decoration: none; }
      #FAQ #AccordionFAQ .card .card-body {
        padding-left: 32px;
        padding-right: 32px; }
      #FAQ #AccordionFAQ .card:first-of-type {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px; }
      #FAQ #AccordionFAQ .card + .card {
        margin-top: 5px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; }

/**
 * Footer
 **/
#Footer {
  background-color: #242424;
  color: #b4b4b4;
  z-index: 1; }
  #Footer > .widgets {
    padding-top: 64px;
    padding-bottom: 64px; }
    @media all and (max-width: 992px) {
      #Footer > .widgets > .container > .row {
        display: block;
        flex-wrap: inherit; }
        #Footer > .widgets > .container > .row > .col {
          display: inline-block;
          max-width: 32.33%;
          vertical-align: top;
          margin-bottom: 10px; }
          #Footer > .widgets > .container > .row > .col:first-child, #Footer > .widgets > .container > .row > .col:last-child {
            display: block;
            max-width: 100%;
            text-align: center; } }
    @media all and (max-width: 340px) {
      #Footer > .widgets > .container > .row > .col {
        max-width: 49%; }
        #Footer > .widgets > .container > .row > .col:first-child, #Footer > .widgets > .container > .row > .col:last-child {
          max-width: 100%; } }
    @media all and (max-width: 320px) {
      #Footer > .widgets > .container > .row > .col {
        display: block;
        max-width: 100%;
        text-align: center; } }
    #Footer > .widgets > .container > .row > .col > .widget > h4 {
      text-transform: uppercase;
      padding: 0 10px;
      color: #fff;
      font-weight: 500; }
    #Footer > .widgets > .container > .row > .col > .widget > form, #Footer > .widgets > .container > .row > .col > .widget > div {
      padding-left: 10px;
      padding-right: 10px; }
    #Footer > .widgets > .container > .row > .col > .widget > [class^="menu-"] {
      padding-left: 0;
      padding-right: 0; }
    #Footer > .widgets > .container > .row > .col > .widget ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #Footer > .widgets > .container > .row > .col > .widget ul > li {
        display: block;
        width: 100%; }
        #Footer > .widgets > .container > .row > .col > .widget ul > li > a {
          display: block;
          width: 100%;
          line-height: 1.2em;
          padding: 8px 10px;
          color: #ccc;
          text-decoration: none; }
          #Footer > .widgets > .container > .row > .col > .widget ul > li > a:link, #Footer > .widgets > .container > .row > .col > .widget ul > li > a:visited, #Footer > .widgets > .container > .row > .col > .widget ul > li > a:active {
            color: #ccc; }
        #Footer > .widgets > .container > .row > .col > .widget ul > li:hover > a, #Footer > .widgets > .container > .row > .col > .widget ul > li:focus > a {
          color: #fff; }
        #Footer > .widgets > .container > .row > .col > .widget ul > li > ul {
          padding-left: 15px; }
  #Footer > .copyright {
    background-color: #383838; }
    #Footer > .copyright > .container {
      padding-top: 15px;
      padding-bottom: 15px;
      color: #ccc;
      font-size: 90%;
      vertical-align: middle;
      font-size: 15px;
      font-weight: 400; }
      #Footer > .copyright > .container > img {
        display: inline;
        max-height: 22px;
        margin: -6px 5px auto auto; }
        @media screen and (max-width: 768px) {
          #Footer > .copyright > .container > img {
            display: table;
            margin: 0 auto 10px auto; } }

.icon {
  position: relative;
  text-align: center;
  width: 0px;
  height: 0px;
  padding: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -khtml-border-radius: 20px 20px 20px 20px;
  color: #FFFFFF; }
  .icon.social {
    float: left;
    margin: 0 5px 0 0;
    cursor: pointer;
    background: #ff715a;
    color: #fff;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s; }
    .icon.social i {
      font-size: 20px;
      position: absolute;
      left: 11px;
      top: 10px; }
      .icon.social i.fa-facebook-f {
        left: 15px;
        top: 10px; }
    .icon.social:hover {
      background: #f9482b;
      color: #fff;
      transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.8));
      -moz-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.8));
      -ms-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.8));
      -o-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.8));
      filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.8)); }

.icon-group {
  display: inline-block; }

/*
* Utils
*/
.relative {
  position: relative; }

@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.otf") format("opentype");
  font-weight: 700; }
@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.otf") format("opentype"); }
@font-face {
  font-family: 'Gotham-BookItalic';
  src: url("../fonts/Gotham-BookItalic.woff") format("woff"), url("../fonts/Gotham-BookItalic.otf") format("opentype");
  font-style: italic; }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.otf") format("opentype");
  font-weight: 400; }
@font-face {
  font-family: 'Gotham-Light';
  src: url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.otf") format("opentype");
  font-weight: 300; }
.popup-wrapper {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75); }
  @media screen and (max-width: 768px) {
    .popup-wrapper {
      overflow-y: auto; } }
  .popup-wrapper .popup-container {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .popup-wrapper .popup-container {
        display: block; } }
    .popup-wrapper .popup-container .popup {
      position: relative;
      background: white;
      width: 500px; }
      .popup-wrapper .popup-container .popup > #PopupGetPriceClose {
        position: absolute;
        background: transparent;
        border: none;
        float: right;
        font-size: 1.5em;
        color: #fff;
        opacity: 0.8;
        z-index: 1;
        right: 0;
        top: 8px; }
        .popup-wrapper .popup-container .popup > #PopupGetPriceClose:hover {
          opacity: 1; }
      @media screen and (max-width: 768px) {
        .popup-wrapper .popup-container .popup {
          width: 90%;
          margin: 5px auto; } }
      .popup-wrapper .popup-container .popup .popup-header {
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        position: relative;
        padding: 50px 30px;
        background-color: #184B5A; }
        @media screen and (max-width: 991px) {
          .popup-wrapper .popup-container .popup .popup-header {
            position: initial;
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
            text-align: center; } }
        .popup-wrapper .popup-container .popup .popup-header h2 {
          font-weight: 400;
          font-size: 2em;
          color: white;
          margin: 0; }
        .popup-wrapper .popup-container .popup .popup-header p {
          font-weight: 400;
          font-size: 0.9em;
          color: white; }
        .popup-wrapper .popup-container .popup .popup-header .popup-header-image {
          position: absolute;
          z-index: 9999;
          left: -115px;
          margin: 0px; }
          @media screen and (max-width: 991px) {
            .popup-wrapper .popup-container .popup .popup-header .popup-header-image {
              position: initial;
              margin-bottom: 20px; } }
          @media screen and (max-width: 767px) {
            .popup-wrapper .popup-container .popup .popup-header .popup-header-image {
              text-align: center; } }
          .popup-wrapper .popup-container .popup .popup-header .popup-header-image img {
            width: 300px; }
            @media screen and (max-width: 767px) {
              .popup-wrapper .popup-container .popup .popup-header .popup-header-image img {
                width: 200px; } }
      .popup-wrapper .popup-container .popup .popup-form {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background: white;
        padding: 30px; }
        .popup-wrapper .popup-container .popup .popup-form .row {
          margin-bottom: 20px; }
          @media screen and (max-width: 991px) {
            .popup-wrapper .popup-container .popup .popup-form .row {
              margin-bottom: 0px; } }
        .popup-wrapper .popup-container .popup .popup-form input {
          width: 100%;
          height: 40px;
          background: #f4f8fb;
          border-radius: .25rem;
          border: 1px solid #dce0e3;
          padding-left: 20px;
          color: #555;
          font-size: 0.9em; }
          @media screen and (max-width: 991px) {
            .popup-wrapper .popup-container .popup .popup-form input {
              margin-bottom: 20px; } }
        .popup-wrapper .popup-container .popup .popup-form label {
          font-size: 0.75em;
          margin: 0; }
          .popup-wrapper .popup-container .popup .popup-form label span {
            color: red; }
        .popup-wrapper .popup-container .popup .popup-form button, .popup-wrapper .popup-container .popup .popup-form input[type^="submit"] {
          width: 100%;
          height: 40px;
          border: 0;
          background: #ff715b;
          border-radius: .25rem;
          color: white;
          font-size: 0.9em;
          text-transform: uppercase; }

.popup-wrapper .popup-container .popup.popup-step-2 .popup-form button, .popup-wrapper .popup-container .popup.popup-step-2 .popup-form input[type^="submit"] {
  width: auto !important;
  padding: 5px 60px;
  margin-left: auto;
  margin-right: auto; }

/*
* RESPONSIVE
*/
@media all and (min-width: 992px) {
  .mobile-menu {
    display: none !important; }

  .mobile {
    display: none !important; } }
@media all and (max-width: 992px) {
  .section-title {
    font-size: 2em;
    line-height: 1.3em;
    font-weight: 700; }

  .overly-image img {
    padding: 0 2em; }

  .desktop {
    display: none !important; }

  #Header .navbar-toggler {
    display: inline-block !important; }
    #Header .navbar-toggler + div {
      display: none !important; }
  #Header .logo > a > img {
    margin-top: -10px;
    max-width: 200px; }
    #Header .logo > a > img.logo-mobile {
      display: block !important; }
      #Header .logo > a > img.logo-mobile + img {
        display: none; }
  #Header > .header-sticky.fixed, #Header > .header-sticky-white.fixed {
    padding: 10px 15px; }

  #Home {
    min-height: 900px;
    background-size: cover;
    background-position: 65%; }
    #Home > .container #Donna {
      min-height: 880px;
      -ms-align-items: flex-start !important;
      align-items: flex-start !important;
      text-align: center; }
      #Home > .container #Donna > .donna-intro {
        flex: 0 0 100%;
        margin-top: 115px; }
        #Home > .container #Donna > .donna-intro > h2, #Home > .container #Donna > .donna-intro > h4 {
          color: #fff;
          text-shadow: none; }
        #Home > .container #Donna > .donna-intro > h4 {
          font-size: 1.7em; }
      #Home > .container #Donna > .mobile-button {
        -ms-flex-item-align: end !important;
        align-self: flex-end !important; }
        #Home > .container #Donna > .mobile-button .btn {
          width: 100%;
          max-width: 100%; }

  #CaseStudies {
    background-image: url(../images/Home/happy-bkg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0 !important; }
    #CaseStudies > .row {
      margin-right: 0;
      margin-left: 0; }
      #CaseStudies > .row > .col-md-6 {
        flex: 0 0 90%;
        max-width: 90%;
        margin: 0 !important; }
        #CaseStudies > .row > .col-md-6.has-hilight > .hilight {
          text-align: center !important;
          padding: 32px 15px !important;
          margin: 0 !important;
          -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
          -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
          -ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
          -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
          -webkit-border-radius: 0 !important;
          -moz-border-radius: 0 !important;
          -ms-border-radius: 0 !important;
          border-radius: 0 !important; }
          #CaseStudies > .row > .col-md-6.has-hilight > .hilight h3 {
            color: #fff;
            font-weight: 400;
            font-size: 1.8em; }
          #CaseStudies > .row > .col-md-6.has-hilight > .hilight > img.rounded-circle {
            max-width: 100px;
            margin-bottom: 32px; }
          #CaseStudies > .row > .col-md-6.has-hilight > .hilight > .blockquote {
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            margin-top: 24px;
            padding-top: 24px; }
            #CaseStudies > .row > .col-md-6.has-hilight > .hilight > .blockquote > p {
              font-size: 0.8em; }
          #CaseStudies > .row > .col-md-6.has-hilight > .hilight.hilight-light {
            background-color: #f9f9f9; }
          #CaseStudies > .row > .col-md-6.has-hilight > .hilight.hilight-grey, #CaseStudies > .row > .col-md-6.has-hilight > .hilight.hilight-light {
            color: #6e6e6e; }
            #CaseStudies > .row > .col-md-6.has-hilight > .hilight.hilight-grey > .blockquote, #CaseStudies > .row > .col-md-6.has-hilight > .hilight.hilight-light > .blockquote {
              border-top: 1px solid rgba(0, 0, 0, 0.2); }
            #CaseStudies > .row > .col-md-6.has-hilight > .hilight.hilight-grey h3, #CaseStudies > .row > .col-md-6.has-hilight > .hilight.hilight-light h3 {
              color: #6e6e6e; }
    #CaseStudies > #Benefits {
      margin-top: 32px; }
      #CaseStudies > #Benefits .section-title {
        margin-bottom: 0 !important; }
      #CaseStudies > #Benefits .benefit-icon {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-color: transparent;
        min-height: inherit; }
        #CaseStudies > #Benefits .benefit-icon > h4 {
          font-size: 1.3em;
          line-height: 1.1em; }

  #OurOffer {
    padding-right: 0;
    padding-left: 0; }
    #OurOffer > .container {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      -ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      width: 100%;
      max-width: 100%; }
      #OurOffer > .container > #OurOfferList {
        padding-left: 0 !important;
        padding-right: 0 !important; }
        #OurOffer > .container > #OurOfferList .section-title,
        #OurOffer > .container > #OurOfferList .subtitle {
          text-align: center !important;
          width: 100%; }
        #OurOffer > .container > #OurOfferList .section-title {
          font-size: 2.2em;
          font-weight: 700; }
        #OurOffer > .container > #OurOfferList .subtitle {
          font-size: 1.4em;
          font-weight: 500; }
        #OurOffer > .container > #OurOfferList ul.list-unstyled {
          width: 100%;
          max-width: 500px;
          margin: 0 auto 32px auto;
          padding: 0; }
          #OurOffer > .container > #OurOfferList ul.list-unstyled > li {
            font-size: 1.1em;
            font-weight: 400; }
            #OurOffer > .container > #OurOfferList ul.list-unstyled > li:before {
              line-height: 0.8em; }
            #OurOffer > .container > #OurOfferList ul.list-unstyled > li + li {
              margin-top: 32px; }
        #OurOffer > .container > #OurOfferList .align-items-center.pl-5,
        #OurOffer > .container > #OurOfferList .align-items-center.pr-5 {
          padding-left: 1em !important;
          padding-right: 1em !important; }
      #OurOffer > .container .col-banner {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        text-align: center; }
        #OurOffer > .container .col-banner h3 {
          font-size: 1.5em;
          line-height: 1.1em;
          margin-bottom: 5px; }
        #OurOffer > .container .col-banner h4 {
          font-size: 2.5em;
          line-height: 1.1em;
          margin-bottom: 32px; }
        #OurOffer > .container .col-banner .btn {
          background-color: #ff715a;
          color: #fff; }
          #OurOffer > .container .col-banner .btn:hover {
            background-color: #f9482b; }
      #OurOffer > .container .row.mt-5 {
        margin-top: 0 !important; }

  #FAQ {
    padding-top: 0; }
    #FAQ > .container {
      max-width: 100%; }
      #FAQ > .container .card-header .btn-link {
        font-weight: 500; }

  .carecru-pagination {
    text-align: center;
    justify-content: center; } }
@media all and (min-width: 768px) {
  #HappyCustomers .image-container {
    height: 100px;
    position: relative; }
    #HappyCustomers .image-container + .image-container {
      border-left: 1px solid #ccc; }
    #HappyCustomers .image-container > .overly-image {
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); } }
@media all and (max-width: 768px) {
  #Header > #MainMenu {
    padding: 0 15px;
    padding-top: 5px;
    margin: 0 auto; }
    #Header > #MainMenu .logo > a > img {
      max-width: 150px;
      margin-top: 8px; }
  #Header > .header-sticky > .container, #Header > .header-sticky-white > .container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 10px; }

  #Home {
    min-height: inherit;
    margin-bottom: 100px; }
    #Home > .container #Donna {
      min-height: 600px; }
      #Home > .container #Donna > .donna-intro {
        margin-top: 70px; }
        #Home > .container #Donna > .donna-intro > h2 {
          font-size: 3em; }
        #Home > .container #Donna > .donna-intro > h4 {
          font-size: 1.4em; }
      #Home > .container #Donna > .mobile-button {
        margin-bottom: -42px; }

  #TeamMembers > .container .card-link:hover, #TeamMembers > .container .card-link:focus {
    transform: scale(1); }

  #HappyCustomers {
    padding-top: 0 !important; }
    #HappyCustomers h3.section-title {
      padding-bottom: 0 !important; }
    #HappyCustomers .image-container + .image-container {
      margin-top: 64px; }

  #CaseStudies > .row > .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%; }

  #Capabilities {
    text-align: center; }
    #Capabilities .section-title {
      font-weight: 400;
      text-align: center; }
    #Capabilities p {
      text-align: center; }
    #Capabilities > .container > .row > .section-title {
      font-weight: 700; }
    #Capabilities > .container > .row > .col-md-6 + .col-md-6 {
      margin-top: 32px; }
    #Capabilities > .container > .row > .col-md-6.order-1, #Capabilities > .container > .row > .col-md-6.order-2, #Capabilities > .container > .row > .col-md-6.order-3, #Capabilities > .container > .row > .col-md-6.order-4, #Capabilities > .container > .row > .col-md-6.order-5, #Capabilities > .container > .row > .col-md-6.order-6, #Capabilities > .container > .row > .col-md-6.order-7, #Capabilities > .container > .row > .col-md-6.order-8, #Capabilities > .container > .row > .col-md-6.order-9, #Capabilities > .container > .row > .col-md-6.order-10, #Capabilities > .container > .row > .col-md-6.order-11, #Capabilities > .container > .row > .col-md-6.order-12 {
      order: initial !important; } }
@media screen and (max-width: 575px) {
  .carecru-pagination .page-link {
    font-size: .7rem;
    padding: .3rem .45rem; } }

/*# sourceMappingURL=style.css.map */
